@import '../shared/variables';
@import '../shared/mixins';


.section-title > h4 {
  color: #c0c0c0;
}

.search-highlight {
  background: #D3E2F0;
}

@media (min-width: 1024px) {
	body {
		.results {
			@include flexbox;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.content-expand-content {
			p {
				padding: 0px;
			}
		}
	}
}