@import '../shared/variables';
@import '../shared/mixins';

.video-player, .video-player iframe {
	height: 56vw;
}

h4 {
  display: inline-block;
}

.video-length {
  margin-top: 7px;
  display: none;
}
.featured-tabs {
	button {
	  width: 49.3%;
	  padding: 10px 7px;
	  border: none;
	  background: none;
	  text-transform: uppercase;
	  display: inline-block;
	  vertical-align: top;
	  cursor: pointer;
	  outline: none;
	}
}
iframe {
	width: 100%;
}

.video-title {
	font-size: 14px;
	margin-top: 0px;
}

.video-current > p {
  color: #c0c0c0;
}

.featured-series.tabs-selected {
	background: $cyan;
	h3 {
		color: white;
	}
}

.featured-related.tabs-selected {
	background: $blue;
	h3 {
		color: white;
	}
}


@media (min-width: 1024px) {
	body {
		.video-page, .livestream-page {
			.video-player {
				width: 656px;
				height: 369px;
			}
			.video-length {
				display: none;
			}
			#ytplayer {
				width: 656px;
				height: 369px;
			}
			.featured-tabs {
				order: initial;
			}
			.featured-related-content.hide-section {
				@include flexbox;
				flex-wrap: wrap;
				justify-content: space-between;

			}
			.featured-series {
				display: none;
			}
			.featured-related {
				padding-left: 0px;
				& > * {
					font-weight: 700;
				}
			}
			.featured-series-content {
				display: none;
			}
			.content-title {
				font-size: 24px;
				margin-bottom: 8px;
			}
			.content-subtitle {
				font-size: 14px;
				margin: 0px;
			}
			.content-text {
				.content-subtitle {
					margin-bottom: 20px;
				}
				.content-title {
					font-size: 14px;
					margin-bottom: 10px;
				}
			}
			.video-container {
				@include flexbox;
				width: 960px;
			}
			.video-side-bar {
				width: 304px;
				height: 369px;
				background: $gray;
			}
			.video-series-info {
				height: 125px;
				background: black;
				padding: 20px 25px;

			}
			.video-series-list {
				height: 244px;
				background: #343434;
				overflow-y: scroll;
				padding: 20px 25px;
				a:first-child {
					.video {
						padding-top: 0px;
					}
				}
				.video-title {
					color: $gray;
				}
			}
			.series-title {
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 10px;
				color: white;
				height: auto;
			}
			.series-info-row {
				color: $gray;
				@include flexbox;
				justify-content: space-between;
				margin-top: 5px;
			}
			.series-info-row-top > p {
				font-weight: 700;
			}
			.series-category {
				text-align: right;
			}
			.video-current {
				.video-title, .video-length {color: #c0c0c0;}
			}
		}
		.video-page > .content:nth-child(3n - 1), .content {
			width: 656px;
			padding: 0px;
			border: none;
			margin-top: 0px;
			margin-bottom: 50px;
		}
		.video-page .content-title {
			margin-top: 20px;
		}
	}
}
