<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">Quotes</div>
    <div class="panel-body">
<% unless  video.nil? %>

	      <article class="media">
	        <div class="media-body bubble">
	          <a href="#" class="font-semibold">No Quotes Added Yet</a>

	        </div>
	      </article>

<% else %>
	<% @quotes.where(video_id: video.id).each do |quote| %>

	       <%# quote.shared %>
	       <%# quote.sharedCounter %>

	      <article class="media">
	        <a href="#" class="pull-left thumßßßb-lg m-t-xs">
	          <img src="images/m40.jpg">
	        </a>
	        <div class="media-body bubble">
	          <a href="#" class="font-semibold"><%= quote.content %></a>
	          <div class="text-xs block m-t-xs">
	          	<a href="#"><%= User.where(id: quote.author_id).first.name %></a>
	          	 <%= User.where(id: quote.speaker_id).first.name %>
	          </div>
	        </div>
	      </article>
	<% end %>
<% end %>

    </div>
  </div>
</div>