<div id="content-container">
  <%= form_tag waitlists_path, remote: true, id: "login-form", :class => "waitlist-form" do %>
  <h2 id="form-header">Waitlist Signup</h2>
    <div class="form-group">
      <%= text_field_tag :name, nil, class: 'login-field', placeholder: "Enter your name" %>
    </div>
    <div class="form-group">
      <%= email_field_tag :email, nil, :autofocus => true, class: 'login-field', placeholder: "Enter your email" %>
    </div>
    <button type="submit" class="login-btn" id="waitlist-submit">Add me to the waitlist!</button>
  <% end -%>

  <%= link_to root_path do %>
    <button class="login-btn" id="waitlist-back">Back to Home</button>
  <% end %>
</div>