Hey <%= @name %>,<br><br>

DTV just launched a new courses section, and as a gift to everyone who has attended Draper University, we’re giving out free access codes to our paid content forever!
<br><br>
You’ll have access to a variety of curated content including videos, reading lists, and tool suggestions. We’ll also begin to roll out live stream AMA’s and Slice of Life episodes featuring founders, investors, coders, designers, and more in the coming weeks. To check out the new courses section:
<ol style="margin-top: 5px;line-height:14px">
    &nbsp;&nbsp;&nbsp;&nbsp;<li>Go to courses.drapertv.com</li>
    &nbsp;&nbsp;&nbsp;&nbsp;<li>Click “Get Started” on the right column to sign up.</li>
    &nbsp;&nbsp;&nbsp;&nbsp;<li>On the bottom right of the payment page enter your personal alumni code (<%= @code %>), click the submit button and you’re all set.</li>
</ol>
Feel free to give the code away if you don’t need it, but remember: your code only works once. If you like what you see please share it with your friends or network!
<br><br>
We’ll continually be iterating and fixing things up, so please send us any feedback you have through the feedback form on the bottom right of courses.drapertv.com. Any suggestions, complaints, or bug reports are welcome.
<br><br>
Hope you enjoy!<br>
Ken