<!DOCTYPE html PUBLIC "-//W3//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <style></style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable" style="background: white; font-family: proxima nova, source sans pro, helvetica neue, helvetica, arial, sans-serif; font-size: 20px; color: #414141; letter-spacing: 0.2px; font-weight: 500;">
      <tr height="70">
        <td> <!--preheader-->
          <span style="color: transparent; height:0; max-height: 0; max-width: 0; overflow: hidden; visibility: hidden; width: 0;">Don't forget to watch your livestream on DraperTV | <%= @livestreams.map(&:title).join(" | ") %></span> <!--FOR ANDY - REPLACE THE TITLES AT THE END OF PREHEADER WITH TITLES (SPEAKER NAMES) OF TOMORROW'S LIVESTREAM EVENTS (THERE MAY BE MULTIPLE)-->
        </td>
      </tr> <!--top padding-->
      <tr> <!--header-->
        <td align="center" style="line-height: 0;">
          <a href="http://www.drapertv.com/">
            <img src="<%= URI.join(root_url, image_path('email-logo.png')) %>" height="70" style="border: none;" alt="DraperTV." /> <!--FOR ANDY - REPLACE WITH LINK FROM ASSETS: Email_Logo.png-->
          </a>
        </td>
      </tr>
      <tr height="70"></tr> <!--bottom padding-->
      <tr> <!--email body-->
        <td style="background: #f2f2f2;">
          <table border="0" cellpadding="0" cellspacing="0" width="650" align="center" style="font-family: proxima nova, source sans pro, helvetica neue, helvetica, arial, sans-serif; font-size: 20px; color: #414141; letter-spacing: 0.2px; font-weight: 500;">
            <tr height="80"></tr> <!--top padding-->
            <tr> <!--main content-->
              <td width="30"></td> <!--left padding-->
              <td> <!--email content-->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                  <tr> <!--intro-->
                    <td>
                      <p style="line-height: 1.2; margin: 0 0 0 0; text-align: center;">
                        <span style="font-size: 24px; font-weight: 600;">Don't forget to watch your livestream on DraperTV</span>
                      </p>
                    </td>
                  </tr>
                  <tr height="60"></tr> <!--content spacing-->
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="font-family: proxima nova, source sans pro, helvetica neue, helvetica, arial, sans-serif; font-size: 20px; color: #414141; letter-spacing: 0.2px; font-weight: 500;">
                  <%= @livestreams.each do |livestream| %>
                    <tr> <!--horizontal item-->
                      <td style="line-height: 0;"> <!--left item-->
                        <a href="<%= livestream_url(livestream) %>" style="text-decoration: none;"> <!--FOR ANDY - REPLACE HREF WITH TOMORROW'S LIVESTREAM EVENT URL-->
                          <img src="<%= livestream.vthumbnail_url(:square) %>" height="295" style="border: none;" alt="Emily_Drabant_Conley." /> <!--FOR ANDY - REPLACE SRC AND ALT WITH CORRESPONDING THUMBNAIL (CROP TO SQUARE FROM CENTER OF IMAGE) AND ALT VALUE WITH ITEM TITLE (I.E. EMILY DRABANT CONLEY)-->
                        </a>
                      </td>
                      <td style="line-height: 0;"> <!--right item-->
                        <a href="<%= livestream_url(livestream) %>" style="text-decoration: none; color: inherit;"> <!--FOR ANDY - REPLACE HREF WITH TOMORROW'S LIVESTREAM EVENT URL-->
                          <table border="0" cellpadding="0" cellspacing="0" height="295" width="295" style="font-family: proxima nova, source sans pro, helvetica neue, helvetica, arial, sans-serif; font-size: 20px; color: #414141; letter-spacing: 0.2px; font-weight: 500; background: white; text-align: center;">
                            <tr height="48"> <!--item type-->
                              <td align="center" style="vertical-align: top;">
                                <p style="font-size: 18px; line-height: 1; color: white; background: #E1474C; padding: 15px 0; margin: 0 0 0 0;">
                                  <%= livestream.admin_stream_date %> <!--FOR ANDY - REPLACE DATE WITH STREAM DATE OF TOMORROW'S LIVESTREAM EVENT-->
                                </p>
                              </td>
                            </tr>
                            <tr height="199"> <!--item info-->
                              <td align="center">
                                <p style="width: 235px; line-height: 1.2; margin: 0 0 0 0;"> <!--item title-->
                                  <%= Livestream.speaker_name %> <!--FOR ANDY - REPLACE TITLE WITH SPEAKER NAME OF TOMORROW'S LIVESTREAM EVENT-->
                                </p>
                                <p style="width: 235px; font-size: 14px; line-height: 1.2; margin: 20px 0 0 0; font-weight: 300;"> <!--item sub-title-->
                                  <%= Livestream.spekaer_position %> <!--FOR ANDY - REPLACE SUBTITLE WITH SPEAKER POSITION OF TOMORROW'S LIVESTREAM EVENT-->
                                </p>
                              </td>
                            </tr>
                            <tr height="48"></tr>
                          </table>
                        </a>
                      </td>
                    </tr>
                    <% if i == 0 %>
                      <tr height="30"></tr> <!--content spacing-->
                    <% end %>
                  <% end %> 
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="font-family: proxima nova, source sans pro, helvetica neue, helvetica, arial, sans-serif; font-size: 20px; color: #414141; letter-spacing: 0.2px; font-weight: 500;">
                  <tr height="60"></tr> <!--content spacing-->
                  <tr> <!--DraperTV button-->
                    <td width="650" align="center" style="background: #24B494;">
                      <a href="http://www.drapertv.com/" style="text-decoration: none; color: inherit;">
                        <p style="font-size: 24px; color: white; margin: 0 0 0 0; padding: 32px 0;">
                          Visit DraperTV
                        </p>
                      </a>
                    </td>
                  </tr>
                  <tr height="60"></tr> <!--content spacing-->
                  <tr> <!--outro-->
                    <td>
                      <p style="line-height: 1.2; margin: 0 0 0 0;">
                        If you want to learn more about entrepreneurship and startups, check out <a href="http://www.draperuniversity.com" style="color: #35B3DE;">Draper University</a> - the founder bootcamp that's behind DraperTV.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
              <td width="30"></td> <!--right padding-->
            </tr>
            <tr height="80"></tr> <!--bottom padding-->
          </table>
        </td>
      </tr>
      <tr height="40"></tr> <!--footer top padding-->
      <tr> <!--footer-->
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="650" align="center" style="font-family: proxima nova, source sans pro, helvetica neue, helvetica, arial, sans-serif; font-size: 20px; color: #c0c0c0; letter-spacing: 0.2px; font-weight: 500;">
            <tr>
              <td width="30"></td> <!--left padding-->
              <td>
                <p style="line-height: 1.2; font-size: 12px;">
                  DraperTV is a product of <a href="http://www.draperuniversity.com/" style="color: inherit;">Draper University</a>.<br><br>
                  If at any time you wish to stop receiving our emails, you can <a href="<%= unsubscribe_url(unsubscribe_key: @unsubscribe_key) %>" style="color: inherit;">unsubcribe here</a>. <!--FOR ANDY - REPLACE [UNSUBSCRIBE] HREF WITH APPROPRIATE VALUE-->You may also contact us at <a href="mailto:support@drapertv.com" style="color: #35B3DE;">support@drapertv.com</a>.
                </p>
              </td>
              <td width="30"></td> <!--right padding-->
            </tr>
          </table>
        </td>
      </tr>
      <tr height="40"></tr> <!--footer bottom padding-->
    </table>
  </body>
 </html>
