<div class="favorites-container">
  <header id="video-header" class="favorites-header">
    <ul class="video-header-mid">
     <li class="video-header-item" data-show="favorited-series">
       <p class="show-series" >
         SERIES
        </p>
      </li>
      <li class="video-header-item active" data-show="favorited-videos">
       <p class="show-videos">
         VIDEOS
        </p>
      </li>
    </ul>
  </header>
    <div class="section-content">
      <div class="favorited-content favorited-videos">
        <h2 class="section-title">VIDEOS</h2>
        <div class="regular-videos">
          <% @videos.each do |video| %>
            <%= render partial: 'videos/video_item_container', locals: {video: video} %>
          <% end %>
          <% if @videos.empty? %>
            <p>No favorites yet.</p>
          <% end %>
        </div>
      </div>
      <div class="favorited-content favorited-series hidden">
        <div class="regular-series">
          <h2 class="section-title">SERIES</h2>
          <% @playlists.each do |playlist| %>
            <section class="video-section">
              <%= render partial: "playlists/show", locals: {playlist: playlist} %>
            </section>
          <% end %>
          <% if @playlists.empty? %>
            <p>No favorites yet.</p>
          <% end %>
        </div>
      </div>
     <div class="favorited-content favorited-challenges hidden"> 
       <div class="regular-challenges">
        <h2 class="section-title">CHALLENGES</h2>
          <% @challenges.each do |video| %>
            <%= render partial: 'videos/video_item_container', locals: {video: video} %>
          <% end %>
          <% if @challenges.empty? %>
            <p>No favorites yet.</p>
          <% end %>
        </div>
      </div>
      <%= render partial: 'layouts/footer' %>
    </div>
</div>