@import '../shared/variables';
@import '../shared/mixins';

@media (max-width: 768px ) {
	body {
		.featured-playlists {
			flex-wrap: wrap;
		}
		.featured-playlist:nth-child(2n) {
			padding: 0px;
		}
		.speaker-pic {
			display: none;
		}
		.series-speaker {
		  width: 60px;
		  margin-left: 0px;
		  margin-right: 10px;
		}
		.series-videos {
			width: calc(100% - 70px);
		}
		.challenge-btn, .challenge-text {
			display: none;
		}
		.section-title {
			margin-top: 20px;
		}
	}
}

@media (max-width: 1024px) {
	.featured-playlist:nth-child(2n) {
		border-left: none;
		border-right: none;
	}
}