@import '../shared/variables';
@import '../shared/mixins';

@media (max-width: 768px ) {
	body {
		.featured-playlists {
			display: block;
			white-space: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
		}
		.video-length {
			top: 50px;
			
		}
		.featured-playlist {
			width: auto;
			display: inline-block;
			padding: 0px 20px;
		}
		.featured-playlist:first-child {
			padding-left: 0px;
		}
		.featured-playlist:nth-child(2n) {
			border-left: 1px solid $light-gray;
			border-right: 1px solid $light-gray;
		}
		.featured-playlist-title {
			max-width: 240px;
		}
		.speaker-pic {
			display: none;
		}
		.series-speaker {
		  display: none;
		}
		.series-videos {
			width: 100%;
		}
		.series-video {
			width: 140px;
			.video-thumbnail {
				height: 80px;
			}
			.video-lenght {
				top: 50px;
			}
		}
		.challenge-btn, .challenge-text {
			display: none;
		}
		.section-title {
			margin-top: 20px;
		}
		.series-header {
			display: block;
			height: auto;
		}
	}
}

@media (max-width: 1024px) {
	.featured-playlist:nth-child(2n) {
		border-left: none;
		border-right: none;
	}
}