@import '../shared/variables';
@import '../shared/mixins';

@media (max-width: 768px ) {
	.profile-edit  { 
		.invite-title {
			margin: 0 auto;
			padding: 20px 0;
		}
		#invite-accept-form {
			padding-bottom: 0px;
			width: calc(100% - 20px);
			left: 10px;
		}
		.profile-main-fields {
			width: calc(100% - 90px);
			margin-left: 10px;
		}
		.invite-accept-field {
			width: 100%;
		}
		.invite-accept-pic {
			width: 80px;
			height: 80px;
		}
		.invite-accept-plus {
			left: 25px;
			top: 25px;
		}
		#change-password {
			margin-top: 0px;
		}
		.profile-main {
			margin-top: 20px;
			@include flexbox;

		}
		.profile-pic-container {
			height: 80px;
			width: 80px;
			margin: 0;
		}
	}
}