@import '../shared/variables';
@import '../shared/mixins';

@media (max-width: 768px ) {
	body {
		.search-header {
			margin-top: 20px;
		}
		.search-result {
			height: 80px;
			margin-bottom: 10px;
		}
		.search-result.playlist {
			height: auto;
		}
		.result-title.playlist {
			height: 45px;
		}
		.result-pic, .result-pic-container {
			width: 140px;
		}
		.result-info-container {
			width: calc(100% - 140px);
			padding-left: 10px;
			overflow: visible;
		}
		.result-title {
			font-size: 15px;
		}
		.result-description, .result-position, .result-cat, .fav-star {
			display: none;
		}
		.video-length {
			right: 5px;
			bottom: 5px;
			top: initial;
		}
		.result-subinfo {
			@include flexbox;
			.result-date, .video-stats {
				font-size: 12px;
			}
			.video-stats {
				margin-left: 10px;
			}
		}
		.result-video-list {
			display: block;
			transform: translateX(-150px);
			width: calc(100vw - 20px);
			margin-top: 50px;
			.playlist-video a {
				display: block;
			}
			.video-length-link {
				width: 80px;
				text-align: right;
			}
			.video-title-link {
				width: calc(100% - 80px);
				margin-right: 0px;
			}

		}

	}
}