@import '../shared/variables';
@import '../shared/mixins';


@media (max-width: 1240px ) {
	.regular-videos, .featured-videos {
		flex-wrap: wrap;
	}
	.regular-videos {
		justify-content: space-between;
	}
	.regular-videos .video-item-container {
		margin-right: 0px !important; 
	}
	.video-header-mid {
		width: auto;
	}
	.video-play {
		display: none !important; 
	}
}

@media (max-width: 768px) {
	body {
		.videos-container .section-content {
			width: calc(100% - 20px);
		}
		.videos-container, .favorited-videos {
			.video-img, .video-thumbnail {
				width: 140px;
				height: 80px;
			}
			.video-item-container {
				width: 100%;
				margin-right: 0px;
				@include flexbox;
				align-items: flex-start;
			}
			.video-info {
				padding-left: 10px;
				width: calc(100% - 140px);
				margin-top: 0px;
			}
		}
		.favorited-series, .playlist-container {
			.video-length {
				bottom: initial;
				top: 50px;
			}
		}
		
	}
}