@import '../shared/variables';
@import '../shared/mixins';





@media (max-width: 768px) {
	body {
		#video-container {
			padding-top: 50px;
			.section-content#video-section {
				width: 100%;
			} 
		}
		.video-main-info {
			padding-bottom: 10px;
		}
		.video-main-info, #comments-container, #suggested-videos {
			width: calc(100% - 20px);
			margin: 0 auto;
			position: relative;
		} 
		.videos-panel {
			background: #414141;
			margin-top: -2px;
			position: relative;

		}

		#ytplayer {
			height: 56vw;
		}
		#video-section {
			flex-wrap: wrap;
		}
		.video-title {
			width: calc(100% - 30px);
			margin-top: 10px;
		}
		.video-speaker-info .video-info {
			width: 100%;
		}
		#suggested-videos {
			padding-left: 0px;
		}
		.video-speaker {
			display: none;
		}
		#video-header:not(.favorites-header) {
			display: none;
		}
		#comments-container {
			border-bottom: 1px solid $light-gray;
		}
		.comments-header {
			padding-top: 10px;
		}
		.comment-pic {
			height: 30px;
			width: 30px;
		}
		.video-publish-date {
			text-align: right;
		}
		.playlist-info.video-item {
			padding: 10px;
			padding-right: 40px; 
			height: auto;
		}
		.video-list {
			height: auto;
		}
		.video-list-title {
			padding-left: 25px;
		}
		#suggested-videos {
			padding: 10px 0px;

		}
		.expand-arrow {
			position: absolute;
			top: 10px;
			right: 10px;
			height: 30px;
			width: 15px;
			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			transform: rotate(90deg);
		}
		.video-main-info {
			.expand-arrow {
				top: 0px;
			}
		}

		.expandable {
			display: none;
		}
		.videos-panel {
			.expand-arrow {
				right: 20px;
			}
		}
		.comment-count {
			display: inline 
		}
		.video-order {
			width: 50px;
			color: $light-gray;
		}
	}
}

