@import '../shared/variables';
@import '../shared/mixins';

@media (max-width: 1240px ) {
	.section-content {
		width: calc(100vw - 20px);
		margin-left: auto;
		margin-top: auto; 
	}
	.landing-container {
		.section-content {
			width: 100%;
			margin: 0;
		}
		.series-video:first-child {
			margin-left: 20px;
		}
		.series-header {
			margin-left: 20px;
		}
	}

}

@media (max-width: 768px) {
	body {
		#banner {
			height: auto;
		}
		.no-mobile {
			display: none !important;
		}
		.landing-section.info-section {
			height: auto;
			padding-bottom: 55px;
		}
		.info-items {
			flex-wrap: wrap;
		}
		#sign-up {
			margin-bottom: 0px;
			padding-bottom: 55px;
		}
		#landing-footer {
			display: none;
		}
		.section-content {
			width: calc(100vw - 20px);
			margin-left: auto;
			margin-top: auto; 
		}
		.info-item {
			@include flexbox;
			width: 100%;
			padding: 30px 20px;
			align-items: center;
			justify-content: space-between;
		}
		.info-item-misc {
			width: calc(100% - 100px);
		}
		.info-img {
			margin-right: 20px;
			width: 100px;
		}
		.info-title, .info-desc {
			text-align: left;
		}
		.info-title {
			margin-top: 0px;
		}
		#explainer-section {
			padding: 0px;
		}
		.landing-bottom {
			margin-bottom: 40px;
		}

	}
}