@import '../shared/variables';
@import '../shared/mixins';

@media (max-width: 768px) {
	body {
		.section-content.welcome-content {
			width: calc(100vw - 20px);
			.info-title {
				margin-top: 0px;
			}
			#lets-go {
				margin-bottom: 100px;
			}
		}
	}
}