$black: #414141;
$dark-gray: #545a5f;
$light-gray: #f1f1f1;
$star-black: #1a1a1a;
$star-hover: #fcc11e;
$star-red: #771f28;
$blue: #4cb6cb;



$landing-gray: #919191;
$landing-blue: #246db4;
$landing-gray: #919191;
$landing-red: #e1474c;
$light-red: #e1474c;

$landing-yellow: #f2b81d;
$landing-green: #88b250;
$landing-orange: #f38f31;

$bg-grey: #f4f4f4;
$header2-grey: #dadada;


$gray: #919191;
$blue: #246db4;
$gray: #919191;
$red: #e1474c;
$light-red: #e1474c;
$light-blue: #35b3de;

$yellow: #f2b81d;
$cyan: #35b3de;
$teal: #24b494;
$green: #88b250;
$orange: #f38f31;
$purple: #A53A6A;
$border-gray: #e5e5e5;