$black: #414141;
$dark-gray: #545a5f;
$light-gray: #c0c0c0;
$blue: #4cb6cb;
$light-blue: #35b3de;


$landing-gray: #919191;
$landing-blue: #246db4;
$landing-gray: #919191;
$landing-red: #e1474c;
$landing-yellow: #f2b81d;
$landing-green: #88b250;
$landing-orange: #f38f31;

$bg-grey: #f4f4f4;
$header2-grey: #dadada;
