html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}
body {
  font-family: 'proxima-nova', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #788188;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  line-height: 1.40;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
h3 {
  font-weight: normal;
  font-family: 'Merriweather';
  letter-spacing: 0.3px;
  line-height: 1.8;
  color: #1E2022;
  font-size: 16px;
}
h1 {
  font-weight: normal;
  font-size: 30px;
  font-weight: 900;
  font-family: 'proxima-nova';
}
h4 {
  font-size: 12px;
  /*letter-spacing: 1.3px;*/
  /*text-transform: uppercase;*/
  font-weight: bold;
}
a {
/*  color: #545a5f;
*/  text-decoration: none;
}
a[disabled] {
  pointer-events: none;
}

label {
  font-weight: normal;
}
small,
.small {
  font-size: 13px;
}
.dropdown-menu {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  border: 1px solid rgba(0,0,0,0.1);
}
.dropdown-menu.pull-left {
  left: 100%;
}
.dropdown-menu > .panel {
  border: none;
  margin: -5px 0;
}
.dropdown-menu > li > a {
  padding: 5px 15px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: none;
  filter: none;
  background-color: #e8eff0 !important;
  color: #303437;
}
.dropdown-header {
  padding: 5px 15px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #e8eff0 !important;
  color: #788188;
}
.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus > .dropdown-menu {
  display: block;
}
.dropdown-submenu.pull-left {
  float: none !important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: -6px;
  margin-left: -1px;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
}
.dropdown-select > li input {
  position: absolute;
  left: -9999em;
}

