html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}  
body {
  font-family: 'proxima-nova', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #788188;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  line-height: 1.40;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
h1 {
  font-weight: normal;
  font-size: 30px;
  font-weight: 900;
  font-family: 'proxima-nova';
}
h4 {
  font-size: 12px;
  /*letter-spacing: 1.3px;*/
  /*text-transform: uppercase;*/
  font-weight: bold;
}




