@import '../shared/variables';
@import '../shared/mixins';

#global-header {
	height: 60px;
	background: $landing-blue;
	position: static;
	@include flexbox;
	@include align-items(center);
	padding: 0px 60px;
	@include justify-content(space-between);
}

.header-left, .header-right {
 	@include flexbox;
 	@include align-items(center);
}


/////// HEADER ITEM ///////////


.header-item a {
	color: rgba(255,255,255,0.5);
	margin: 0 auto;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 12px;
}
.header-item.logo {
	height: 36px; 
	width: 156px;
	width: auto;
	margin: 10px 0px;
}
.header-item {
	height: 100%;
	position: relative;
	line-height: 60px;
	cursor: pointer;
	font-size: 14px;
	display: inline;
	font-weight: 600;
	margin: 0px 25px 0px 0px;
}


.header-item.active * {
	opacity: 1;
	color: white;
}

.header-item.search-icon {
	margin-right: 0px;
	height: 14px;
	width: 14px;
}

.header-item:hover {
	color: white;
	a {
		color: white;
	}
}

.logo.header-item  {
	height: 30px;
	width: 150px;
	margin: 0px auto;
	opacity: 1;
	* {
		fill: rgba(255,255,255,0.5);
	}
}

.search-input::-webkit-input-placeholder {
	color: $blue;
}

	

