@import 'variables';
@import 'mixins';

/******* LANDING HEADER ********/

#landing-header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: $landing-blue;
	text-align: center;
	z-index: 3;
}
#landing-header > * {
	position: absolute;
	top: 0;
	height: 100%;
}
.header-item {
	height: 100%;
	line-height: 50px;
	cursor: pointer;
	font-size: 16px;
	display: inline;
	color: rgba(255,255,255,.5);
	margin: 0 15px;
}

.header-item a {
	color: rgba(255,255,255,.5);
}

.header-item.active a {
	color: white;
}

.logo {
	height: 30px;
	margin-top: 10px;
}
.sign-up-btn.header-item {
	padding: 5px;
	margin-right: 0px;
}
.header-item.green-btn {
	color: white;
}
.header-mid-right {
	right: 265px;
}

.header-mid-left {
	left: 310px;
}

.search-input {
	height: 30px;
	border: none;
	-webkit-appearance: none;
	font-size: 15px;
	opacity: 0.5;
	border-radius: 5px;
	background: #13446d;
	width: 330px;
	margin: 10px 0px;
	box-sizing: border-box;
	padding: 0px 10px;
	color: white;
}

.header-right {
	right: 20px;
}
.header-left {
	left: 20px;
}