@import 'variables';
@import 'mixins';

/*** General ***/

#content-container {
  min-height: 100vh;
  padding-top: 50px;
  background: white;
}
body {
  background: $light-gray;
  @include flexbox;
  @include flex-direction(column);
  overflow-y: scroll;
}

.main-page {
  height: 100vh;
}

// .main.home {
//   height: calc(100vh - 60px);
//   overflow-y: scroll;
// }
.page-description {
  display: none;
}


/*** Positioning ***/

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}


/***** Modals ******/

.modal-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
}

.no-mobile {
  display: none;
} 

.livestream-banner {
  display: none;
}

@media (min-width: 1024px) {
  body {
    background: white;
    .main {
      width: 960px;
      margin: 0 auto;
      padding-top: 20px;
      @include flexbox;
      flex-direction: column;
    }
    .page-description {
      display: initial;
    }
    .main.freeze {
      padding-top: 130px;
    }
    .no-mobile {
      display: initial;
    }
    .no-desk {
      display: none !important; 
    }
    header.no-mobile, header .no-mobile  {
      display: block;
    }
    footer {
      margin-top: 0px;
      text-align: left;
    }
    .livestream-banner {
      display: block;
    }
  }
}

