@import 'variables';
@import 'mixins';

/*** General ***/

#content-container {
  min-height: 100vh;
  padding-top: 50px;
  background: white;
}
body {
  background: $light-gray;
}


/*** Positioning ***/

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}


/***** Modals ******/

.modal-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
}

.no-mobile {
  display: none;
} 

@media (min-width: 1024px) {
  body {
    background: white;
    .main {
      width: 960px;
      margin: 0 auto;
      padding-top: 70px;
      @include flexbox;
      flex-direction: column;
    }
    .no-mobile {
      display: initial;
    }
    .no-desk {
      display: none !important; 
    }
    header.no-mobile, header .no-mobile  {
      display: block;
    }
  }
}

