@import 'variables';
@import 'mixins';

/*** General ***/

body {
  background: $light-gray;
  @include flexbox;
  @include flex-direction(column);
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-content {
  min-height: calc(100vh - 60px);
}


