
@import 'variables';


/** Reset **/



/**** Mobile ****/


* {
	box-sizing: border-box;
}
.mobile {
	display: none;
}

img.svg {
	display: none;
}

.hidden {
	display: none;
}

.app body, body {
	overflow-y: scroll;
}



@media(max-width: 1024px) {
body {
	.mobile {
		display: block;
	}
	.no-mobile {
		display: none;
	}
	}
}



/*** Text Formatting **/

div, h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima-nova', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	margin: 0;
	line-height: 1;
}



b {
	font-weight: 700;
}

.bold-italic {
	font-weight: 700;
	font-style: italic;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 600;
}

input:focus {outline: none; }
textarea:focus {outline: none; }

.text-elipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/****** lists ******/

 ul {
 	padding: 0;
 	margin: 0;
 }

 li {
 	display: block;
 }

 /*** Input fields ***/

 .error-field {
 	border: 1px solid $red;
 }