<div class="featured-videos">
	<% VideoFeature.currently_featured.each do |video_feature| %>
	  <%= render partial: 'videos/video_item_container', locals: {video: video_feature.video} %>
	<% end %>
</div>