<section class="vbox">
  <section id="content">
    <section class="vbox" id="bjax-el">
      <section class="scrollable">
      <div id="">
        <div class="landing-container landing-top">
          <div class="section-content">
            <h2 class="font-thin m-b section-title">Invite Corner</h2>
          </div>
          <section class="landing-section video-section">
            <div class="section-content">

  					<p>You've invited <%= @emails %></p>

            </div>
          </section>


        </div>
      </div>

    </section>
  </section>
</section>