<section id="content-container">

    <div class="section-content">
      <h2 class="font-thin m-b section-title">Invite Corner</h2>
  		  <p>Enter email(s) of people you'd like to invite in a comma separated list.</p>
  		  <%= form_tag batch_invite_management_index_path, :method => :post do %>
  			  <%= text_area_tag :user_emails, nil, rows: 10, cols: 45,class: 'input' %>
  			  <br>
  		  <%= submit_tag "Invite", class: 'btn'  %>
  		<% end %>
    </div>

</section>
