    <div class="scroll-percent-container no-mobile">
      <div class="scroll-grey"></div>
      <div class="scroll-green"></div>
      <div class="scroll-percent"></div>
    </div>
    <section class="main">
      <div class="section-title">
        <h1>LIVESTREAMS</h1>
      </div>
      <div class="section-content-list">
        <% if @upcoming_livestreams.length + @current_livestreams.length < 1 %>
          <div class="no-content">
            <i class="fa fa-video-camera"></i>
            <p>Looks like there aren't any live or upcoming Livestreams. Check out our past livestreams below!</p>
          </div>
        <% end %>
        <% (@future_livestreams).each do |livestream| %>
          <% if livestream.class == Livestream %>
            <%= render partial: "show", locals: {livestream: livestream} %>
          <% else %>
            <%= render partial: "chapters/show", locals: {chapter: livestream} %>
          <% end %>
        <% end %>
      </div>
      <div class="section-title">
        <h1>ARCHIVE</h1>
      </div>
      <div class="section-content-list">
        <% @past_livestreams.each do |livestream| %>
          <% if livestream.class == Livestream %>
            <%= render partial: "show", locals: {livestream: livestream} %>
          <% else %>
            <%= render partial: "chapters/show", locals: {chapter: livestream} %>
          <% end %>
        <% end %>
      </div>
    </section>

    <script>

    </script>
