<div class="playlist-container pageW">
  <div class="section-content">
    <div class="regular-series centered">
      <h2 class="section-title">404 Page Not Found</h2>

			<img class="erImage" src="<%= asset_url('nothinghere.jpg') %>">

    </div>
    <%= render partial: 'layouts/footer' %>
  </div>
</div>

