@import 'variables';
@import 'mixins';

/**** Mobile ****/


* {
	box-sizing: border-box;
}
.mobile {
	display: none;
}

.hidden {
	display: none;
}

html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}  
body {
  font-family: 'proxima-nova', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #788188;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  line-height: 1.40;
  overflow-y: scroll;
}
input[type='submit'], input[type='text'] {
    -webkit-appearance: none;
}

input[type='text'] {
  border-radius: 0px;
}

@media(max-width: 1024px) {
	body {
	.mobile {
		display: block;
	}
	.no-mobile {
		display: none;
	}
	}
}
@media(max-width: 640px) {
  .background-link {
    display: none;
  }
}

/*** Text Formatting **/

div, h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima-nova', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	margin: 0;
	line-height: 1;
  -webkit-font-smoothing: antialiased;
}

b {
	font-weight: 700;
}

.bold-italic {
	font-weight: 700;
	font-style: italic;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 600;
}

input:focus {outline: none; }
textarea:focus {outline: none; }

/****** lists ******/

 ul {
 	padding: 0;
 	margin: 0;
 }

 li {
 	display: block;
 }

 /*** Input fields ***/

 .error-field {
 	border: 1px solid $red;
 }

* {
  margin: 0;
  padding: 0;
}


@media (max-width: 768px) {
  html {
    background: black;
  }

  body {
    background: #dadada;
    padding-bottom: 0px;
    margin: 0 auto;

  }
}

.linkified a {
  color: $blue;
}
.linkified a:hover {
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
}

small {
  font-size: 10px;
  font-weight: 500;
}


/// Colors ///

.blue {color: #246db4;}
.cyan {color: #35b3de;}
.teal {color: #24b494;}
.green {color: #88b250;}
.yellow {color: #f2b81d;}
.orange {color: #f38f31;}
.red {color: #e1474c;}
.grey {color: #919191;}
.darkgrey {color: #666666;}
.black {color: #414141;}
.white {color: #ffffff;}
.purple {color: #a53a6a;}


.blue-b {background: #246db4;}
.cyan-b {background: #35b3de;}
.teal-b {background: #24b494;}
.green-b {background: #88b250;}
.yellow-b {background: #f2b81d;}
.orange-b {background: #f38f31;}
.red-b {background: #e1474c;}
.grey-b {background: #919191;}
.darkgrey-b {background: #666666;}
.black-b {background: #414141;}
.white-b {background: #ffffff;}
.purple-b {background: #a53a6a;}

.blue-item {
  color: $blue;
  border: 1px solid $blue;
  .hover {
    display: none;
  }
}

.expanded:hover {
  background: $blue;
}
.teal-item {
  color: $teal;
  border: 1px solid $teal;
}

.red-item {
  color: $red;
  border: 1px solid $red;
}

.red-item:hover, .teal-item:hover, .yellow-item:hover {
  cursor: initial;
}

//////

.rotate180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}



