@import 'variables';
@import 'mixins';

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.7);
  z-index: 10;
  @include flexbox;
  @include justify-content(center);
  @include flex-direction(column);
  display: none;
  .modal {
    width: 520px;
    background: white;
    margin: 0 auto;
    .modal-header {
      @include flexbox;
      display: flex;
      @include justify-content(space-between);
      background: $teal;
      padding: 14px 24px;
      @include align-items(center);
    }
    .email-option label {
      font-size: 14px;
    }
    .modal-header h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: white;
    }
    .modal-header .close {
      cursor: pointer;
      height: 14px;
      width: 14px;
    }
    .modal-content {
      padding: 14px 24px;
      padding-bottom: 24px;
      p {
        color: $gray;
        font-size: 14px;
      }
      .modal-form {
        margin-top: 24px;
      }
      .submit-confirmation {
        text-align: center;
      }
    }
    .footer-email {
      font-size: 18px;
      width: 100%;
    }
  }
}

@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

/* other styles */
/* .svg svg {
    display: none
}
 */
.inlinesvg .svg svg {
    display: inline
}

/* .svg img {
    display: none
} */

.icon--order-success {
  @include flexbox;
  @include justify-content(center);
  display: none;
  width: 72px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.icon--order-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards
}

@media (max-width: 640px) {
  .modal-container {
    .modal {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
    }
    .email-selection {
      display: flex;
      @include flex-direction(column);
      div {
        margin: 0;
        margin-bottom: 8px;
      }
    }
  }
}