@import 'shared/variables';
@import 'shared/mixins';

#comments {
	margin-top: 20px;
	margin-bottom: 50px;
}

#post-comment {
  margin-top: 5px;
  width: 50px;
  height: 25px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background: $blue;
  margin-left: calc(100% - 50px);
  border: none;
  border-radius: 5px;
  cursor: pointer;
	padding-top: 5px;
}

.comment-pic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #246db4;
}
.comment-body {
	width: calc(100% - 60px);
}

.comment-block {
	margin-bottom: 35px;
}
.comment-content {
	@include flexbox;
	margin-top: 5px;
}

.comment-video {
	width: 120px;
	height: 67.5px;
	margin-right: 10px;
	position: relative;
	cursor: pointer;
	.challenge-thumbnail {
		height: 100%;
		width: 100%;
	}
	.challenge-play {
		position: absolute;
		height: 50px;
		width: 50px;
		left: 35px;
		top: 8px;
		opacity: 0.7;
	}
}

.comment-text {
	width: calc(100% - 130px);
	font-size: 13px;
}

.comment-name {
	color: black;
	font-weight: 600;
	font-size: 15px;
}

.comment-date {
	margin-left: 10px;
}

.comment-actions {
	margin-top: 10px;
	font-size: 13px;
	font-weight: 600;
	color: $gray;
	span {
		margin-right: 10px;
		cursor: pointer;
	}
	span:hover {
		color: $light-blue;
		text-decoration: underline;
	}
}

.nested-comment-form {
	display: none;
}

.nested-comment-form, .nested-comments {
	margin-bottom: 20px;
	#comment-box, .comment {
		justify-content: flex-end;
		align-items: center;
		.control-group, .comment-body {
			width: calc(100% - 105px);
			height: 35px;
		}
		.comment-input {
			height: 35px;
		}

	}
	.comment-pic {
		height: 35px;
		width: 35px;
	}
}


.comment-input {
	width: calc(100% - 60px);
	box-sizing: border-box;
	height: 100%;
	border: 1px solid $light-gray;
	height: 50px;
	padding: 10px;
	border-radius: 5px;
	resize: none;
}
#comment-box {
	@include flexbox;
	align-items: center;
	.control-group {
		width: calc(100% - 60px);
	}
}

.comment {
	@include flexbox;
	margin-bottom: 25px;
}

.challenge-comment-form {
	.comment-input {
		border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}

}

#comment-box-bottom {
	@include flexbox;
	padding-left: 57px;
	#post-comment {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		margin: 0;
		width: 51px;
	}
	.comment-video-input {
		width: calc(100% - 50px);
		border-bottom-left-radius: 5px;
		border: 1px solid $light-gray;
		border-top: 0px;
		border-right: 0px;
		padding: 0px 10px;
		line-height: 25px;
	}
}
