@import 'shared/variables';
@import 'shared/mixins';


.featured-categories {
	@include flexbox;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flip-container {
	width: 50%;
	text-align: center;
	position: relative;
	h3 {
		position: absolute;
		bottom: 20px;
		text-align: center;
		width: 100%;
		left: 0;
		text-transform: uppercase;
	}
}

.categories-item {
	padding: 0px;
	margin-bottom: 40px;
	position: relative;
	margin-top: 20px;
}

.categories-item:hover {
	text-decoration: underline;
}

.featured-new.tabs-selected {
	background: $green;
}

.category-icon {
	position: absolute;
	height: 30px;
	width: 30px;
  	top: 10px;
  	right: calc(50% - 15px);
}


@media (min-width: 1024px) {
  body {
		.featured-carousel {
			height: 360px;
			width: 960px;
			order: -4;
			overflow: hidden;
			@include flexbox;
			justify-content: space-between;
		}
		.featured-item {
			background-size: cover;
			display: none;
		}
		.featured-carousel-main {
			height: 360px;
	    	width: 640px;
	    	position: relative;
	    	.featured-item {
		    	height: 360px;
		    	width: 640px;
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	h3 {
		    		font-size: 20px;
		    	}
		    	h1 {
		    		font-size: 36px;
		    	}
		    }
		}
		.featured-carousel-side {
			height: 360px;
			width: 320px;
			position: relative;
			.featured-item {
		    	width: 320px;
		    	height: 180px;
		    	left: 0;
		    }
		}
		.category-icon {
			height: 50px;
			width: 50px;
			top: 35px;
		  	right: 60px;
		}

	    .featured-text {
	    	padding: 20px;
				&:hover {
					text-decoration: underline;
				}
	    }
	    .tagline-container {
	    	text-align: center;
	    	display: block;
	    	margin: 55px 0;
	    	order: -3;
	    }
	    .tagline {
			color: $blue;
			font-size: 30px;
			margin-bottom: 5px;
			font-weight: 700;
	    }
	    .tagline-sub {
	    	color: $gray;
	    	font-size: 18px;
	    }
	    .featured-topics-content {
			order: -3;
	    	display: block;
	    }
	    .featured-categories {
	    	padding: 0;
	    	margin: 0;
	    	@include flexbox;
	    	justify-content: space-between;
	    	flex-wrap: wrap;
	    }
	    .featured-categories  .categories-item {
	    	width: 168px;
	    	height: 195px;
	    	margin: 0;
	    	padding: 0;
	    	margin-bottom: 30px;
	    	position: relative;
	    	@include flexbox;
	    	flex-direction: column;
	    	h3 {
	    		margin-top: 24px;
	    		margin-bottom: 10px;
	    		order: -1;
	    	}
	    }
		.series-count, .courses-count {
			letter-spacing: 2px;
			position: absolute;
	    	color: white;
	    	text-align: center;
	    	left: calc(50% - 40px);
	    	width: 80px;
		}
		.series-count[href="/playlists?category=Auxiliary"] {
			top: 41px;
		}
	    .series-count {	
	    	top: 15px;
	    }
	    .courses-count {
	    	bottom: 95px;
	    }
	    .series-count:hover, .courses-count:hover {
	    	text-decoration: underline;
	    }

		.series-count > span {
			font-weight: 700;
			font-size: 24px;
		}

		.courses-count > span {
			font-weight: 700;
			font-size: 24px;
		}

	    .categories-icon {
	    	height: 120px;
	    	width: 120px;
	    	order: 2;
	    }
	    .featured-tabs {
	    	margin: 0;
	    	height: 44px;
	    	order: -2;
	    	margin-bottom: 20px;
	    }
	    .featured-tabs button {
	    	width: auto;
	    	padding: 0px 15px;
	    	h3 {
	    		font-size: 24px;
	    	}
	    }
	    .featured-tabs button.featured-popular {
	    	padding-left: 0px;
	    	border-right: 1px solid $border-gray;
	    }
	    .featured-popular-content, .featured-new-content{
	    	@include flexbox;
	    	flex-wrap: wrap;
	    	order: -2;
	    }
	    .featured-popular-content.content-list, .section-content-list, .featured-related-content, .results {
	    	margin-bottom: 14px;
	    }
	    .hide-section {
	    	display: none;
	    }
	    .content {
	    	width: 296px;
	    	height: 436px;
	    	padding: 20px;
	    	margin-bottom: 36px;
	    	border: 1px solid $border-gray;
	    }
	    .content:nth-child(3n - 1) {
	    	margin: 0px 36px;
	    }
	    .content-link {
	    	@include flexbox;
	    	flex-direction: column;
	    }
	    .content-text {
	    	width: 100%;
	    	order: -1;
				.content-title {
					height: 2em;
					overflow: hidden;
				}
	    }
	    .content-title {
	    	font-size: 14px;
				font-weight: 700;
	    	*:hover {
				text-decoration: underline;
	    	}
				& > * {
					font-weight: 700;
				}
	    }
	    .content-subtitle {
				font-weight: 700;
	    	margin-top: 10px;
	    	margin-bottom: 20px;
				& > * {
					font-weight: 700;
				}
	    }
	    .series-thumbnail {
	    	width: 256px;
	    	height: 144px;
	    }
	    .content-expand-content.hide-section {
	    	display: block;
	    }
	    /* entire container, keeps perspective */
		.flip-container {
			perspective: 1000;
		}
			/* flip the pane when hovered */
			.flip-container:hover .flipper, .flip-container.hover .flipper {
				transform: rotateY(180deg);
			}

		.flip-container, .front, .back {
			width: 168px;
	    	height: 195px;
		}
		.flip-container.no-hover:hover .flipper {
			transform: rotateY(0deg) !important;
		}
		.flip-container {
			background: $light-gray;
			margin-bottom: 30px;
			border: 1px solid $border-gray;
			h3 {
				bottom: initial;
				top: 24px;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		.home {
			.featured-tabs {
				margin-top: 20px;
			}
		}

		/* flip speed goes here */
		.flipper {
			transition: 0.4s;
			transform-style: preserve-3d;
			margin-left: 5px;
			position: relative;
			margin-top: 50px;
			position: relative;
		}

		/* hide back of pane during swap */
		.front, .back {
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}
		.front {
			left: -5px;
		}

		/* front pane, placed above back */
		.front {
			z-index: 2;
			/* for firefox 31 */
			transform: rotateY(0deg);

		}

		/* back, initially hidden pane */
		.back {
			transform: rotateY(180deg);
		}

  	}

}
