@import 'global/variables';
@import 'global/mixins';

////// FEATURED CONTENT ///////////
.slick-arrow {
	display: none !important;
}
/*
.featured-banner {
	position: relative;
	height: 38.75vw;
	overflow: hidden;
	@include flexbox;
	display: flex;
	.featured-infos {
		width: 32vw;
		background: black;
		overflow: visible;
		z-index: 2;
		.featured-info:first-child {
			display: block;
		}
		.featured-info {
		width: 32vw;
		padding: 4vw 0px 0px calc(60px - (1440px - 100vw)/2);;
		// transform: translateY(-12.5vw);
		height: 25vw;
		background: black;
		display: none;
		h3, h1, p {
			width: calc(35vw + (1440px - 100vw)/2);
		}
		h3 {
			color: $landing-gray;
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 4px;
			letter-spacing: 1px;
		}
		h1 {
			color: white;
			font-size: 46px;
			font-weight: 700;
			letter-spacing: 3.5px;
			line-height: 1.1;
		}
		h2 {
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 1.5px;
			margin-top: 4px;
			margin-bottom: 10px;
			color: white;
		}
		div.featured-description {
			-webkit-line-clamp: 9;
	  	-webkit-box-orient: vertical;
	  	text-overflow: ellipsis;
	  	height: 71px;
	  	margin-top: 12px;
		}
		p {
			color: $landing-gray;
			font-size: 14px;
			margin-top: 10px;
			height: 71px;
			overflow: hidden;
			line-height: 1.3;
		}
		.featured-action-icons {
			margin-top: 12px;
			height: 22px;
			width: 400px;
			@include flexbox;
			.action-icon {
				cursor: pointer;
				@include flexbox;
				@include justify-content(space-between);
				width: 22px;
				margin-right: 8px;
				position: relative;
				p {
					display: none;
					opacity: 0;
				}
			}
			.action-icon.series.active {
				background: rgba(36,109,180, 0.5);
				height: 100%;
				p {
					color: $blue;
					height: 100%;
    			line-height: 22px;
				}
			}
			.action-icon.active {
				background: rgba(36,180,148, 0.5);
				border-radius: 25px;
				overflow: hidden;
				p {
					display: block;
					position: absolute;
					line-height: 22px;
					color: $teal;
					text-align: right;
					margin: 0;
					top: 0;
					right: 100%;
				}
			}
			.action-icon-img {
				height: 22px;
				width: 22px;
			}
		}
	}
	.featured-items {
		width: 68vw;
	}
}
.featured-gradient {
	height: 100%;
	position: absolute;
	left: 32vw;
	top: 0;
	width: 15vw;
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) , rgba(0,0,0,0));
	z-index: 1;
}
.featured-nav {
  position: absolute;
  bottom: 12px;
  background: none;
  width: auto;
  left: calc(50vw - 27px);
  @include flexbox;
	.dot {
		height: 10px;
		width: 10px;
		background: rgba(255,255,255,0.5);
		cursor: pointer;
		border-radius: 50%;
		z-index: 1;
	}
	.dot.active {
		background: white !important;
		border-radius: 50px !important;
	}
	.dot.right:hover {
		border-left: 10px solid rgba(255,255,255,1);
	}
	.dot.left:hover {
		border-right: 10px solid rgba(255,255,255,1);
	}
	.dot.right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0px;
        }
	.dot.left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:10px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0px;
  }
	.dot:nth-child(2n) {
		margin: 0px 12px;
	}
}
.featured-items {
	height: 38.75vw;
	width: 68vw;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	overflow-y: hidden;
	.featured-item {
		height: 38.75vw;
		width: 68vw;
		position: relative;
	}
	.featured-video-container {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		height: 100%;
	}
	.featured-play-link {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		background: none;
	}
	.featured-play-link:hover .featured-play-btn {
		display: block;
	}
	.featured-play-btn {
		height: 120px;
		width: 120px;
		left: calc(50% - 60px);
		top: calc(17.25vw - 60px);
		position: absolute;
		border-radius: 120px;
		border: 4px solid white;
		background: rgba(36, 109, 180, 0.7);
		display: none;
		.play-triangle {
			width: 0;
      height: 0;
      border-top: 32px solid transparent;
      border-bottom: 32px solid transparent;
      border-left: 56px solid white;
      background: none;
      border-radius: 0px;
      position: absolute;
      top: 26px;
      left: 37px;
		}
	}
	.featured-video {
		width: 100%;
		height: 100%;
	}
}
*/

.featured-banner{
	width: 100vw;
	height: 38.75vw;
	position: relative;
	margin-top: -60px;
}

.featured-items {
	width: calc((38.75vw / 9) * 16);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	overflow-y: hidden;

	.featured-item {
		height: 38.75vw;
		width: 68vw;
		position: relative;
	}
	.featured-video-container {
		/*position: absolute;
		right: 0;
		top: 0;*/
		z-index: -1;
		height: 100%;
	}
	.featured-play-link {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		background: none;
	}
	.featured-play-link:hover .featured-play-btn {
		display: block;
	}
	.featured-play-btn {
		height: 120px;
		width: 120px;
		left: calc(50% - 60px);
		top: calc(50% + 30px);
		transform: translateY(-50%);
		position: absolute;
		border-radius: 120px;
		border: 4px solid white;
		background: rgba(36, 109, 180, 0.7);
		display: none;
		.play-triangle {
			width: 0;
      height: 0;
      border-top: 32px solid transparent;
      border-bottom: 32px solid transparent;
      border-left: 56px solid white;
      background: none;
      border-radius: 0px;
      position: absolute;
      top: 26px;
      left: 37px;
		}
	}
	.featured-video {
		width: 100%;
		height: 100%;
	}
}

.featured-nav {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 12px;
	@include flexbox;
	z-index: 3;

	.dot {
		height: 10px;
		width: 10px;
		background: rgba(255,255,255,0.5);
		cursor: pointer;
		border-radius: 50%;
		z-index: 3;
	}
	.dot.active {
		background: white !important;
		border-radius: 50px !important;
	}
	.dot.right:hover {
		border-left: 10px solid rgba(255,255,255,1);
	}
	.dot.left:hover {
		border-right: 10px solid rgba(255,255,255,1);
	}
	.dot.right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0px;
        }
	.dot.left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:10px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0px;
  }
	.dot:nth-child(2n) {
		margin: 0px 16px; //should have margins for each dot, at 8px (added up to 16px) for scalibity (greater than 3 dots)
	}
}

.featured-overlay {
	width: calc(100vw - ((38.75vw / 9) * 16));
	height: 100%;
	background: black;
	display: inline-block;
	z-index: 2;
}

.featured-gradient-home {
	width: 15vw;
	height: 100%;
	background: -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0));
	display: inline-block;
	z-index: 2;
	position: absolute;
	top: 0;
	left: calc(100vw - ((38.75vw / 9) * 16));
}

.featured-infos {
	width: calc(35vw + (1440px - 100%)/2);
	height: 25vw;
	left: calc(60px - (1440px - 100%)/2);
	position: absolute;
	top: calc(50% + 30px);
	transform: translateY(-50%);
	z-index: 3;
	overflow: hidden;

	.featured-info:first-child {
		display: block;
	}

	.featured-info {
		display: none;
	}

	* {
		color: white;
		cursor: pointer;
		line-height: initial;
	}

	h1 {
		font-size: 46px;
	}

	h2 {
		font-size: 20px;
	}

	p {
		font-size: 14px;
	}

	.featured-subtitle {
		color: #919191;
		font-weight: 500;
		letter-spacing: 1px;
	}

	.featured-title {
		letter-spacing: 3.5px;
		margin-top: 4px;
	}

	.featured-livestream-subtitle {
		letter-spacing: 1.5px;
		margin-top: 6px;
	}

	.featured-action-icons {
		margin-top: 14px;
		height: 22px;
		cursor: initial;
		@include flexbox;
		.action-icon {
			cursor: pointer;
			@include flexbox;
			@include justify-content(space-between);
			width: 22px;
			margin-right: 8px;
			position: relative;
			p {
				display: none;
				opacity: 0;
			}
		}
		.action-icon.series.active {
			background: rgba(36,109,180, 0.5);
			height: 100%;
			p {
				color: $blue;
				height: 100%;
				line-height: 22px;
			}
		}
		.action-icon.active {
			background: rgba(36,180,148, 0.5);
			border-radius: 25px;
			overflow: hidden;
			p {
				display: block;
				position: absolute;
				line-height: 22px;
				color: $teal;
				text-align: right;
				margin: 0;
				top: 0;
				right: 100%;
			}
		}
		.action-icon-img {
			height: 22px;
			width: 22px;
		}
	}

	.featured-description > * {
		color: #919191;
		font-weight: 500;
		margin-top: 14px;
		height: 4.7em;
		overflow: hidden;
	}
}

/////// MEDIA LIST //////////////

.media-thumbnails {
	@include flexbox;
	display: flex;
	a {
		margin-bottom: 36px;
	}
}
.link-triangle {
	width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid $dark-gray;
  background: none;
  border-radius: 0px;
  position: absolute;
  right: -10px;
}
.media-thumbnail {
	height: 144px;
	width: 256px;
	margin: 0px 4px;
	position: relative;
	@include flexbox;
	@include align-items(center);
	z-index: 1;
	overflow: hidden;

	.thumbnail-description {
		display: none;
		width: 256px;
		height: 144px;
		position: absolute;
		top: 100%;
		left: 0;
		background: white;
		padding: 8px;
		color: $gray;

	  -webkit-line-clamp: 9;
	  -webkit-box-orient: vertical;
	  text-overflow: ellipsis;
	}
	p {
		overflow: hidden;
		font-size: 14px;
	}
	.thumbnail-img {
		width: 100%;
		height: 144px;
	}
	.thumbnail-gradient {
		position: absolute;
		height: 88px;
		width: 100%;
		bottom: 0;
		left: 0;
		background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0.81));
	}
	.thumbnail-overlay-gradient {
		display: none;
		position: absolute;
		height: 88px;
		width: 100%;
		bottom: 0;
		left: 0;
		background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0.81));
	}
	.media-date {
		position: absolute;
		top: 8px;
		left: 8px;
		z-index: 1;
		color: white;
		display: none;
	}
	.media-info {
		position: absolute;
		bottom: 5px;
		left: 8px;
		right: 8px;
		z-index: 1;
		.media-speaker-name	{
			font-size: 14px;
			color: white;
			margin-bottom: 3px;
		}
		.media-title {
			font-size: 16px;
			font-weight: 700;
			color: white;
			line-height: 1.3;
		}
	}
}

.notify-button {
	background: rgba(36,180,148, 0.5);
	height: 24px;
	text-align: right;
	color: white;
	border-radius: 24px;
	width: 24px;
	line-height: 24px;
	padding-right: 7px;
	margin-bottom: 4px;
	display: none;
	@include align-items(center);
	@include flexbox;
	@include justify-content(space-between);
	visibility: hidden;
	.notify-icon {
		height: 24px;
		width: 24px;
	}
}

.media-thumbnail.livestream {
	.media-title {
		height: 1.3em;
		overflow: hidden;
	}
}

.media-thumbnail:hover {
	// overflow: initial;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
	.thumbnail-gradient {
		height: 100%;
		top: 0px;
		background: rgba(0,0,0,0.7);
	}
	.thumbnail-overlay-gradient {
		display: block;
	}
	.media-date {
		display: block;
	}
	.media-title {
		overflow: visible;
	}
	.media-info {
		// overflow: hidden;
	}
	.thumbnail-description {
		display: block;
		height: 5px;
		padding: 0px;
    width: 256px;
    overflow: hidden;
    color: white;

	}
	.notify-button {
		visibility: initial;
		p {
			display: none;
		}
	}
	.notify-button:hover {
		// width: 90px;
		p {
			display: block;
			color: $teal;
			opacity: 0;
		}
	}
}

.media-thumbnail:hover.livestream {
	.media-info.multiline {
		// transform: translateY(-24px);
		transition: 0.4s;
		.media-title {
			overflow: visible;
		}
	}
}

.media-thumbnail.show-description:hover {
	overflow: initial;
	z-index: 5;
	box-shadow: 0px 0px 20px 2px black;
	.thumbnail-gradient {
		top: 0px;
		background: rgba(0,0,0,0.6);
	}
	.thumbnail-overlay-gradient {
		bottom: 0px;
	}
	.thumbnail-description {
		display: -webkit-box;
		color: #5f5f5f;
		padding: 10px 12px;
		z-index: -1;
		top: 0px;
		height: 144px;
		p {
			line-height: 1.3;
			height: 10em;
		}
	}
	.media-info {
		.media-speaker-name {
			font-size: 16px;
		}
		.media-title {
			font-size: 18px;
			// height: auto;
		}
	}
	.media-date {
		font-size: 16px;
	}
	.notify-button {
		margin-bottom: 6px;
	}
}

.media-thumbnails.course-thumbnails {
	display: -webkit-box;
}

.course-thumbnail {
	margin: 0px 2.5px;
	height: calc((1440px - 165px) / 9);
	width: calc((1440px - 165px) / 9);
	position: relative;
	@include flex-shrink(0);
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	cursor: pointer;
	overflow: hidden;
	.course-description {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
		padding: 8px;
		h3 {
			font-size: 16px;
			font-weight: 700;
			color: white;
			text-align: center;
			margin-bottom: 8px;
		}
		li {
			color: white;
			margin-bottom: 6px;
		}
	}
	.course-thumbnail-img {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.course-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		opacity: 0.9;
		top: 0;
	}
	.course-icon {
		width: 36.5%;
		height: 40%;
		height: auto;
		z-index: 1;
		position: absolute;
		left: 31.75%;
		top: 30%;
	}
}

.course-thumbnail:hover {
	border-bottom: 5px solid white;
  box-sizing: content-box;
  margin-bottom: -5px;
  .course-overlay {
  	opacity: 0.97;
  }
}

.course-thumbnail.show-description {
	.course-icon, .course-name {
		opacity: 0;
		transition-duration: 0.4s;
	}
	.course-description {
		display: block;
		top: 0;
		transition-duration: 0.4s;
		overflow: scroll;
	}
}

.see-more {
	display: none;
}

.course-name {
	position: absolute;
	width: 100%;
	bottom: 8px;
	text-align: center;
	font-size: 16px;
	left: 0;
}

.media-container {
	padding: 36px 0px;
	// overflow-x: scroll;
	background: #E4E4E4;
	overflow: visible;
	.media-list {
		margin: 0 auto;
		width: 1320px;
	}
	.media-header a{
		@include flexbox;
		@include align-items(center);
		height: 24px;
		margin-bottom: 12px;
		width: 140px;
		h3 {
		color: $dark-gray;
		font-size: 20px;
		font-weight: 600;
		margin-right: 10px;
		}
		img {
			padding-top: 2px;
		}
	}
}

.media-container .must-watch {
	.media-header {
		img {
			display: none;
		}
	}
}


//// MEDIA QUERIES ////

@media (min-width: 1441px) {
	.featured-infos {
		left: 60px;
	}
}

@media (max-width: 1379px) {
	.featured-banner.homepage {
		.featured-infos {
			width: 37.21vw;
			left: 30px;
		}

	}
	.media-container {
		padding: 36px 30px;
		.media-list {
			margin: 0 auto;
			width: calc(100vw - 60px);
		}
	}
	.media-thumbnail {
		height: calc(((100vw - 100px)/5) * 9 / 16);
		width: calc((100vw - 100px)/5);
		.thumbnail-img {
			height: 100%;
		}
	}
	.media-thumbnail:hover {
		.thumbnail-description {
			width: calc((100vw - 100px)/5);
		}
	}
	.media-thumbnail.show-description:hover {
		.thumbnail-description {
			width: calc((100vw - 100px)/5);
			height: calc(((100vw - 100px)/5) * 9 / 16);
		}
	}
	.course-thumbnail {
		height: calc((100vw - 105px) / 9);
		width: calc((100vw - 105px) / 9);
	}
}

@media (max-width: 1279px){
	.featured-banner.homepage {
		.featured-infos {
			.featured-subtitle {
				font-size: 16px;
			}

			.featured-title {
				font-size: 34px;
				letter-spacing: 3px;
			}

			.featured-livestream-subtitle {
				font-size: 16px;
			}

			.featured-description > * {
				height: 3.5em;
			}
		}
	}
}

@media (max-width: 1023px) {
	.featured-banner.homepage {
		.featured-infos {
			.featured-description {
				display: none;
			}
		}
		.featured-items .featured-play-link:hover .featured-play-btn {
			display: none;
		}
	}

	.media-thumbnail {
		width: calc((100vw - 80px) / 4);
		height: calc((100vw - 80px) / 4 * 9 / 16);
	}
	.media-thumbnails:not(.course-thumbnails) a:nth-child(5n) {
		display: none;
	}

	.media-thumbnails a {
		margin-bottom: 26px;
	}

	.media-thumbnail:hover {
		.media-date {
			display: none;
		}
		.thumbnail-description {
			width: calc((100vw - 80px) / 4);
		}
	}
	.media-thumbnail.show-description:hover {
		.media-date {
			display: block;
		}
		.thumbnail-description {
			width: calc((100vw - 80px) / 4);
			height: calc((100vw - 80px) / 4 * 9 / 16);
		}
	}
	.featured-nav {
		bottom: 12px;
		height: 10px;
	}
	.media-container {
		padding: 26px 24px;
		.media-list {
			width: 100%;
			margin: 0;
		}
	}
	.course-thumbnail {
		height: calc((100vw - 93px) / 9);
		width: calc((100vw - 93px) / 9);
	}
}

@media (max-width: 968px) {
	.course-thumbnail {
		height: calc((100vw - 88px) / 8);
		width: calc((100vw - 88px) / 8);
	}
	.course-thumbnails a:nth-child(9n) {
		display: none;
	}
	.course-thumbnail.see-more {
		display: flex;
		.course-overlay {
			background: $black;
		}
		.default {
			display: none;
		}
		.see-more {
			display: block;
			color: white;
		}
	}
}

@media (max-width: 887px) {
	.featured-banner.homepage {
		height: initial;
		margin-top: initial;
		flex-direction: column;

		.featured-items {
			width: 100vw;
			height: calc(100vw / 16 * 9);
			position: static;
			margin: 0;
			.featured-item {
				height: calc(100vw / 16 * 9);
			}
		}

		.featured-nav {
			top: calc((100vw / 16 * 9) - 28px);

			.dot {
				height: 12px;
				width: 12px;
			}

			.dot.right:hover {
				border-left: 12px solid rgba(255,255,255,1);
			}

			.dot.left:hover {
				border-right: 12px solid rgba(255,255,255,1);
			}

			.dot.right {
				border-top: 6px solid transparent;
		    border-bottom: 6px solid transparent;
		    border-left: 12px solid rgba(255,255,255,0.5);
			}

			.dot.left {
				border-top: 6px solid transparent;
		    border-bottom: 6px solid transparent;
		    border-right: 12px solid rgba(255,255,255,0.5);
			}

			.dot:nth-child(2n) {
				margin: 0px 24px;
			}
		}

		.featured-overlay {
			display: none;
		}

		.featured-gradient-home {
			width: 100vw;
			height: calc((100vw / 16 * 9) * 0.16);
			background: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0));
			position: absolute;
			top: calc((100vw / 16 * 9) - ((100vw / 16 * 9) * 0.16));
			left: 0;
		}

		.featured-infos {
			position: relative;
			top: initial;
			left: initial;
			transform: initial;
			width: 100vw;
			height: inherit;
			background: black;
			padding: 17px 20px 26px;
			margin-top: -1px;

			.featured-title {
				font-size: 30px;
			}

			.featured-description {
				display: block;
			}
		}
	}
	.course-thumbnail {
		height: calc((100vw - 83px) / 7);
		width: calc((100vw - 83px) / 7);
	}
	.course-thumbnails a:nth-child(8n) {
		display: none;
	}
}

@media (max-width: 824px) {
	.media-thumbnail {
		width: calc((100vw - 72px) / 3);
		height: calc((100vw - 72px) / 3 * 9 / 16);
	}
	.media-thumbnails:not(.course-thumbnails) a:nth-child(4n) {
		display: none;
	}

	.media-thumbnail:hover {
		.thumbnail-description {
			width: calc((100vw - 72px) / 3);
		}
	}

	.media-thumbnail.show-description:hover {
		.thumbnail-description {
			width: calc((100vw - 72px) / 3);
			height: calc((100vw - 72px) / 3 * 9 / 16);
		}
	}
}

@media (max-width: 782px) {
	.course-thumbnail {
		height: calc((100vw - 59px) / 6);
		width: calc((100vw - 59px) / 6);
		margin: 0px 1px;
	}
	.course-thumbnails a:nth-child(7n) {
		display: none;
	}
}

@media (max-width: 768px) {
	.featured-banner.homepage .featured-infos .featured-info .featured-action-icons {
		.action-icon {
			width: auto;
			display: flex;
			height: 22px;
			background: rgba(36,180,148, 0.5);
			border-radius: 50px;

			p {
				display: block;
				position: static;
				line-height: 22px;
				color: $teal;
				text-align: right;
				margin: 0 4px;
				opacity: 1;
				width: auto;
			}
		}
		.action-icon.series {
			background: rgba(36,109,180, 0.5);
			p {
				color: $blue;
			}
		}
	}
}

@media (max-width: 640px) {
	.featured-banner.homepage {
		.featured-nav {
			display: none;
		}

		.featured-subtitle {
			font-size: 14px;
		}

		.featured-title {
			font-size: 24px;
			letter-spacing: 2.5px;
		}

		.featured-livestream-subtitle {
			font-size: 14px;
			letter-spacing: 1px;
		}

		.featured-action-icons {
			display: none;
		}

		.featured-description > * {
			display: none;
		}
	}

	.media-container {
		padding: 20px 0px;
		.media-header {
			margin-left: 20px;
			a {
				margin-bottom: 6px;
				margin-top: 20px;
			}
		}
	}
	.media-thumbnails a {
		margin-bottom: 0px;
	}
	.media-thumbnail {
		width: calc((100vw - 2px) / 2);
		height: calc((100vw - 2px) / 2 * 9 / 16);
		margin: 0;
		.media-info {
			.media-title {
				height: auto;
				max-height: 2.4em;
				overflow: hidden;
			}
		}
	}
	.media-thumbnails:not(.course-thumbnails) a:nth-child(3n) {
		display: none;
	}
	.media-thumbnails:not(.course-thumbnails) a:nth-child(2n) {
		margin-left: 2px;
	}
	.media-thumbnail:hover {
		.thumbnail-gradient {
			display: none;
		}
		.thumbnail-description {
			width: calc((100vw - 2px) / 2);
		}
		.media-info {
			.action-icon {
				display: none;
			}
		}
	}
	.course-thumbnails {
		width: 100vw;
		overflow-x: scroll;
		overflow-y: hidden;
		height: 100px;
		a:first-child .course-thumbnail {
			margin-left: 0px;
		}
		a:nth-child(9n), a:nth-child(8n), a:nth-child(7n) {
			display: flex;
		}
		.course-thumbnail {
			height: 100px;
			width: 100px;
		}
	}

	.media-thumbnail.show-description:hover {
		.thumbnail-description {
			width: calc((100vw - 2px) / 2);
			height: calc((100vw - 2px) / 2 * 9 / 16);
		}
	}
}
