@import 'shared/variables';
@import 'shared/mixins';


.featured-item {
	height: 34vw;
	width: 100vw;
	background: black;
	img {
		height: 100%;
		width: 68%;
		position: absolute;
		right: 0;
		top: 0;
	}
	.featured-gradient {
		height: 100%;
		position: absolute;
		left: 32%;
		width: 15%;
		background: -webkit-linear-gradient(left, rgba(0,0,0,1) , rgba(0,0,0,0));
	}
}
