@import 'shared/variables';
@import 'shared/mixins';


.tweet-button {
  background: #55ACEE;
  text-align: center;
  padding: 10px;
}

.tweet-button > a > h2 {
  color: white;
  font-weight: 500;
}

.no-content {
  padding: 7px 14px;
  width: 100%;
  @include flexbox;

}

.no-content > p {
  width: calc(100% - 32px);
  line-height: 1.2;
  margin-left: 8px;
  display: inline;
}

.no-content > i {
  font-size: 20px;
  display: inline;
}

.no-content > * {
  display: inline-block;
  vertical-align: middle;
  color: #919191;
}

.livestream-thumbnail {
  height: 72px;
  /*width: 48px;*/
  width: 128px;
  background: lightgrey;
  cursor: pointer;
}

@-webkit-keyframes blink {
  0%{opacity:0.1;}
  30%{opacity:1;}
  70%{opacity:1;}
  100%{opacity:0.1;}
}

.livestream-live > * {
  color: #9bcc5c;
  -webkit-animation-name: blink;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content-date {
  margin-top: 7px;
}

.livestream-page {
  iframe {
    height: 56vw;
  }
}

.livestream-player {
  height: 56vw;
}

.courses-container {
  display: none;
}

@media (min-width: 1024px) {
  body {
    .livestreams {
      .livestream .content-date h4 span {
        display: none;
      }
    }
    .livestream-text {
      order: 1;
      .content-title {
        margin-bottom: 10px;
        font-size: 14px;
      }
      .content-date h4 {
        margin-bottom: 20px;
      }
    }
    .livestream-player {
      height: auto;
    }
    .livestream-thumbnail {
      height: 144px;
      width: 256px;
      order: 2;
    }
    .livestream {
      .content-expand-content {
        margin-top: 20px;
        max-height: 140px;
        text-overflow: ellipsis;
        p {
          padding: 0px;
          max-height: 140px;
          text-overflow: ellipsis;
        }
      }
    }
    .no-content {
      padding: 0px;
      margin-bottom: 50px;
      height: 40px;
      line-height: 40px;
      background: $light-gray;
      border: 1px solid $border-gray;
      text-align: center;
      display: block;

    }
    .livestream-page {
      @include flexbox;
      flex-direction: row;
      justify-content: space-between;
      min-height: initial;
      iframe {
        width: 656px;
        height: 369px;
      }
      .livestream-main-content {
        width: 656px;
      }
      .livestream-side-content {
        width: 284px;
        .content {
          border: none;
          width: 284px;
          box-sizing: border-box;
          padding: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
        }
        iframe {
          height: 425px !important;
        }
        .tweet-button {
          margin-top: -4px;
          height: 42px;
          h2 {
            line-height: 42px;
          }
        }
      }
      .related-content a {
        @include flexbox;
        justify-content: space-between;
        margin-bottom: 17px;
      }
      .content-image-container {
        width: 112px;
        height: 63px;
        position: relative;
        p {
          background: rgba(0,0,0,0.7);
          color: white;
          position: absolute;
          text-align: center;
          bottom: 0;
          height: 20px;
          line-height: 20px;
          width: 100%;
        }
      }
      .content-expand, .content-expand-content {
        max-height: initial;
      }
      .content-thumbnail {
        width: 112px;
        height: 63px;
      }
      .content-video-count {
        font-size: 12px;
        font-weight: 500;
      }
      .section-title {
        height: 20px;
      }
      .related-content-info {
        width: 162px;
      }
      .related-content-title {
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 7px;
        text-transform: uppercase;
      }
      .related-content-subtitle {
        font-weight: 700;
        font-size: 12px;
        color: $gray;
      }
      .related-content-title:hover {
        text-decoration: underline;
      }

    }
    .livestream-main-content .content:nth-child(3n - 1) {
      width: 656px;
      padding: 0px;
      border: none;
      margin: 20px 0px 0px 0px;
      height: auto;
    }
    .livestream-main-content {
      height: 100%;
      .content {
        height: 116px;
      }
    }
    .tagline.yellow {
      color: $yellow;
    }
    .courses-container {
      width: 960px;
      margin: 0 auto;
      display: block;
    }
  }
  .notification {
    color: white;
    background: $red;
    display: block;
    padding: 25px;
    margin-top: 15px;
    transform-style: preserve-3d;
    width: 320px;
    border-radius: 5px;
    z-index: 10;

    .banner-livestream-title {
      font-weight: 700;
      margin-top: 10px;
    }
  }
  .apply-notification {
    background: $blue;
    p.apply-now {
      margin-top: 10px;
      font-weight: 700;
    }
  }
  .apply-now:hover, .banner-livestream-title:hover {
    text-decoration: underline;
  }
  .livestream-banner {
    display: block;
    order: -5;
    position: relative;
    transform-style: preserve-3d;
  }
  .close-banner {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 10px;
    width: 10px;
  }
  .close-banner:hover * {
    fill: rgba(255,255,255,1);
    fill-opacity: 1;
  }
  .livestream-side-content {
    height: 100%;
  .content {
    margin-left: 0px;
  }
  iframe {
    height: 100%;
  }
}

}



