@import 'global/variables';
@import 'global/mixins';

///// BANNER /////
.section-head.livestream {
  .image {
    background-image: url("livestreams-photo.png");
  }
}

.section-head.students {
  .image {
    background-image: url("students-photo.png");
    background-position: calc(100vw - 1440px) 0;
  }
}

@media (min-width: 1441px){
  .section-head.students {
    .image {
      background-position: initial;
    }
  }
}

@media (max-width: 1023px){
  .section-head.students {
    .image {
      background-position: calc(100vw - 1440px) 0;
    }
  }
}

@media (max-width: 639px){
  .section-head.students {
    .image {
      background-position: calc(100vw - 1440px) 0;
    }
  }
}

@media (max-width: 350px){
  .section-head.students {
    .image {
      background-position: calc(100vw - 1440px) 0;
    }
  }
}

//////////////////


.video-player-container.livestream {
  .video-player {
    margin: 0 auto;
  }
}

h3.media-title {
  font-size: 20px;
  color: $dark-gray;
  margin-bottom: 12px;
  font-weight: 600;

}

@media (max-width: 640px) {
  h3.media-title {
    padding-left: 20px;
  }
}
