@import 'global/variables';
@import 'global/mixins';


.section-head.livestream {
  background-image: image_url("livestreams.png");
  background-size: cover;
}

.section-head.students {
  background-image: image_url("students.png");
  background-size: cover;
}

.video-player-container.livestream {
  .video-player {
    margin: 0 auto;
  }
}

h3.media-title {
  font-size: 20px;
  color: $dark-gray;
  margin-bottom: 12px;
  font-weight: 600;

}

@media (max-width: 640px) {
  h3.media-title {
    padding-left: 20px;
  }
}