@import 'shared/variables';
@import 'shared/mixins';

#livestreams {
	.result-pic {
		height: 135px;
		width: 90px;
	}
	.livestream-description {
		height: 80px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.result-date {
		font-size: 17px;
		margin-bottom: 10px;
	}
}

.show-more, .show-less {
	color: $light-blue;
	cursor: pointer;
}

.show-more:hover, .show-less:hover {
	text-decoration: underline;
}
