@import 'shared/variables';
@import 'shared/mixins';

#login-form {
	width: 800px;
	margin: 40px auto;
	text-align: center;
	input {
		border: 1px solid $gray;
	}
	.login-field {
		width: 100%;
		height: 45px;
		border-radius: 30px;
		border: none;
		padding: 10px;
		font-size: 24px;
		text-align: center;
	} 
}

#waitlist-back {
	display: none;
	width: 800px;
	margin: 0 auto;
}

.login-btn {
	width: 100%;
	height: 45px;
	border-radius: 30px;
	border: none;
	color: white;
	background: $blue;
	font-size: 24px;
	margin-bottom: 15px;
}

#form-header {
	margin-bottom: 20px;
}