@import 'shared/variables';
@import 'shared/mixins';

* {
  margin: 0;
  padding: 0;
}


@media (max-width: 768px) {
  html {
    background: black;
  }

  body {
    background: #dadada;
    padding-bottom: 0px;
    margin: 0 auto 10px;

  }
}

.linkified a {
  color: $blue;
}
.linkified a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, p, small, input {
  font-family: 'proxima-nova', "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.2;
}
a {
  color: black;
  text-decoration: none;
}

small {
  font-size: 10px;
  font-weight: 500;
}

.blue {color: #246db4;}
.cyan {color: #35b3de;}
.teal {color: #24b494;}
.green {color: #88b250;}
.yellow {color: #f2b81d;}
.orange {color: #f38f31;}
.red {color: #e1474c;}
.grey {color: #919191;}
.darkgrey {color: #666666;}
.black {color: #414141;}
.white {color: #ffffff;}
.purple {color: #a53a6a;}


.blue-b {background: #246db4;}
.cyan-b {background: #35b3de;}
.teal-b {background: #24b494;}
.green-b {background: #88b250;}
.yellow-b {background: #f2b81d;}
.orange-b {background: #f38f31;}
.red-b {background: #e1474c;}
.grey-b {background: #919191;}
.darkgrey-b {background: #666666;}
.black-b {background: #414141;}
.white-b {background: #ffffff;}
.purple-b {background: #a53a6a;}

.rotate180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}



