@import 'global/variables';
@import 'global/mixins';

///// Banner ////////
.featured-item.header-banner {
  height: 150px;
  position: relative;
  overflow: hidden;
  background: image-url("speakers.png");
  background-size: cover;
  .banner-img {
    width: 1440px;
    height: 100%;
  }
  .banner-content {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 36px 60px;
    padding-right: 0px;
    background: black;
    width: 600px;
    .banner-title {
      @include flexbox;
      @include align-items(center);
      font-size: 26px;
      color: white;
      font-weight: 600;
      margin-bottom: 12px;
      .speaker-icon {
        height: 22px;
        margin-right: 10px;
      }
    }
    .banner-desc {
      color: $gray;
      font-size: 14px;
    }
  }
  .featured-gradient {
    width: 21.5%;
    left: 600px;
    top: 0;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) , rgba(0,0,0,0));
  }
}


/////Sort Bar/////

.sort-bar {
  height: 70px;
  background: white;
  padding: 24px 60px;
  @include flexbox;
  @include justify-content(space-between);
  .notify-button {
    color: $teal;
    height: 24px;
    border: 1px solid $teal;
    border-radius: 50px;
    width: 100px;
    background: white;
    text-align: right;
    visibility: initial;
    cursor: pointer;
  }
  .sort-options {
    @include flexbox;
    z-index: 2;
    div {
      margin-left: 25px;
      font-size: 14px;
      color: $gray;
      height: 22px;
      line-height: 22px;
    }
    .order-sort, .industry-sort {
     border-bottom: 1px solid $gray;
     width: 140px;
     cursor: pointer;
     position: relative;
     @include flexbox;
     @include justify-content(space-between);
     @include align-items(center);
     .sort-dropdown {
      position: absolute;
      // display: none;
      top: 0;
      background: white;
      width: 100%;
      left: 0;
      z-index: 1;
      border: 1px solid $border-gray;
      border-radius: 5px;
      padding: 4px 8px;
      display: none;

     }
    }
  }
}

////// Media /////////

.media-thumbnails.wrap {
  @include flex-wrap(wrap);
}
.media-container.index-view {
  .media-thumbnails a:nth-child(5n), .media-thumbnails a:nth-child(4n), .media-thumbnails a:nth-child(3n) {
    display: flex;
  }
}

#load-more {
  width: 114px;
  height: 34px;
  text-align: center;
  margin: 0px auto;
  border-radius: 50px;
  border: 1px solid $blue;
  color: $blue;
  font-weight: 700;
  background: white;
  line-height: 32px;
  cursor: pointer;
}

@media (max-width: 1439px) {
  .media-container {
    .media-list {
      width: calc(1024px - 60px);
    }
  }
  .featured-item.header-banner {
    .banner-content {
      padding-left: calc((100vw - 1320px) / 2);
    }
  }
  .sort-bar {
    padding-left: calc((100vw - 1320px) / 2); 
    padding-right: calc((100vw - 1320px) / 2); 
  }
  #load-more {
    height: 32px;
    width: 108px;
  }
}

@media (max-width: 1379px) {
  .media-container {
    .media-list {
      width: calc(100vw - 60px);
    }
  }
  .featured-item.header-banner {
    .banner-content {
      padding-left: 30px;
    }
  }
  .sort-bar {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1023px) {
  .media-container.index-view {
    .media-list {
      // width: 764px;
    }
  }
  .featured-item.header-banner{
    .banner-content {
      width: 280px;
    }
    .featured-gradient {
      left: 280px;
    }
    .banner-desc { 
      width: 370px;
    }
  } 
  .notify-button {
    display: none;
  }
  .sort-bar {
    padding: 24px 20px;
  }
  .sort-bar .sort-options div:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 824px) {
  .featured-item.header-banner {
    .banner-content {
      padding-left: 20px;
    }
  }
}

@media (max-width: 640px) {
  .banner-desc {
    display: none;
  }
  .featured-item.header-banner {
    .banner-content {
      top: initial;
      background: none;
      width: 100%;
      padding: 0px;
      left: 20px;
      bottom: 12px;
      .banner-title {
        margin-bottom: 0px;
      }
    }
    .featured-gradient {
      width: 100%;
      top: initial;
      bottom: 0;
      left: 0;
      height: 120px;
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) , rgba(0,0,0,0));
    }
  }
  .media-container.index-view {
    .media-thumbnail {
      width: calc(50vw - 1px);
      height: calc(28vw);
      margin: 0;
      margin-bottom: 20px;
    }
    .media-thumbnail:nth-child(2n) {
      margin-left: 1px;
    }
  }
  .sort-options div:first-child {
    display: none;
  }
  #load-more {
    display: none;
  }
}




