@import 'shared/variables';
@import 'shared/mixins';

/******** Results Header ********/

.search-header {
	margin-top: 40px;
}

#search-preference {
	border-radius: 30px;
	color: $blue;
	border: 1px solid $blue;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	@include flexbox;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
}

#results-count {
	color: $gray;
}

.search-sort-arrow {
	height: 20px;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin-left: 20px;
}


.search-result {
	height: 135px;
	margin: 0px 0px 30px 0px;
	@include flexbox;
}

.search-result.video:hover {
	.result-title {
		color: $light-blue;
		text-decoration: underline;
	}
	.video-play {
		display: block;
	}
}

.result-pic-container, .result-pic {
	height: 100%;
	width: 240px;
	position: relative;
}

.result-pic-container:hover {
	.video-play {
		display: block;
	}
}

.result-pic-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: white;
	background: rgba(0,0,0,0.7);
	height: 30px;
	p {
		line-height: 30px;
		text-align: center;
		font-size: 15px;
	}
}

.result-info-container {
	width: calc(100% - 240px);
	height: 100%;
	overflow-y: hidden;
	text-overflow: ellipsis;
	padding-left: 20px;
	.video-stats {
		font-size: 15px;
		margin-bottom: 12px;
		margin-top: 0px;
	}
}

.result-title {
	margin-bottom: 12px;
	font-size: 20px;
	cursor: pointer;
}

.result-position {
	font-size: 15px;
	color: $gray;
}

.result-video-list {
	max-width: 480px;
}

.playlist-video {
	@include flexbox;
	justify-content: space-between;
	margin-bottom: 7px;
	font-size: 15px;
	.playlist-video-title, .playlist-video-length {
		color: $gray;
	}
}



.playlist-video:hover * {
	color: $light-blue;
	text-decoration: underline;
	cursor: pointer;
}

.result-subinfo {
	color: $gray;
	p {
		margin-bottom: 7px;
		font-size: 15px;
	}
	.result-stats {
		margin-bottom: 12px;
	}
	.result-description {
		line-height: initial;
	}
}