@import 'shared/variables';
@import 'shared/mixins';
/******* LANDING Second HEADER ********/

#video-header {
	position: relative;
	height: 50px;
	width: 100%;
	background: $bg-grey;
	text-align: center;
	z-index: 2;
	margin-bottom: 40px;
}
#landing-video-header > * {
	position: absolute;
	top: 0;
	height: 100%;
}
.video-header-item {
  line-height: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 12.5px 32.5px;
  height: 25px;
}


.video-header-mid {
  width: 1240px;
  margin: 0 auto;
  @include flexbox;
  justify-content: center;

}

.video-header-item div {
	color: $gray;
	font-size: 14px;
	padding-right: 4px;
	padding-left: 4px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.video-header-item.active div {
	color: white;
}

.video-header-item:hover:not(.active) {
	.FREE {
		color: $red;
	}

	.MARKETING {
		color: $yellow;
		
	}

	.SURVIVAL {
		color: $orange;
		
	}

	.OPERATIONS {
		color: $turquoise;
		
	}
	.ALL {
		color: $black;
		
	}
	.THINK {
		color: $blue;
		
	}
	.PEOPLE {
		color: $light-blue;
		
	}
	.FINANCE {
		color: $green;	
	}
}

.active {
	.FREE {
		background-color: $red;
	}

	.MARKETING {
		background-color: $yellow;
	}

	.SURVIVAL {
		background-color: $orange;
	}

	.OPERATIONS {
		background-color: $turquoise;
	}
	.ALL {
		background-color: $black;
	}
	.THINK {
		background: $blue;
	}
	.PEOPLE {
		background: $light-blue;
	}
	.FINANCE {
		background: $green;
	}
}

.cat-btn {
	padding: 5px;
}

/********** VIDEOS *************/

#qw-content {
	margin-top: 40px;
}

.videos-container {
  background: white;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 50px;
}

.regular-videos {
	@include flexbox;
	flex-wrap: wrap;
	padding-bottom: 60px;
	justify-content: flex-start
}

.featured-videos {
	@include flexbox;
	margin-bottom: 40px;
}

.video-item-container {
	width: 240px;
	margin-right: 10px;
}

.video-img {
	height: 135px;
	position: relative;
}

/******* Video QWatch ********/

.qwatch-title {
	color: $light-blue;
}

.section-title {
	color: $black;
	margin-top: 0px;
	font-weight: 300;
	margin-bottom: 25px;
}

.fav-star {
	height: 12px;
	width: 12px;
	vertical-align: initial;
}

.section-time {
	color: white;
	background-color:rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom: 5px;
  	right: 10px;
  	padding: 0px 5px;
  	border-radius: 5px;
}