@import 'shared/variables';
@import 'shared/mixins';
/******* LANDING Second HEADER ********/

#video-header {
	position: relative;
	height: 50px;
	width: 100%;
	background: $bg-grey;
	text-align: center;
	z-index: 2;
	margin-bottom: 40px;
}

.original-header {
	display:none;
}

#landing-video-header > * {
	position: absolute;
	top: 0;
	height: 100%;
}
.video-header-item {
  line-height: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 12.5px 32.5px;
  height: 25px;
}


.video-header-mid {
  width: 1240px;
  margin: 0 auto;
  @include flexbox;
  justify-content: center;

}

.video-header-item p {
	color: $gray;
	font-size: 14px;
	padding: 1px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 25px;
	line-height: 25px;
}

.video-header-item.active p {
	color: white;
}

.video-header-item:hover:not(.active) {
	.FREE {
		color: $red;
	}

	.MARKETING {
		color: $yellow;

	}

	.SURVIVAL {
		color: $orange;

	}

	.OPERATIONS {
		color: $turquoise;

	}
	.ALL {
		color: $black;

	}
	.THINK {
		color: $blue;

	}
	.PEOPLE {
		color: $light-blue;

	}
	.FINANCE {
		color: $green;
	}
}

.active {
	.FREE {
		background-color: $red;
	}
	.MARKETING {
		background-color: $yellow;
	}

	.SURVIVAL {
		background-color: $orange;
	}

	.OPERATIONS {
		background-color: $turquoise;
	}
	.ALL {
		background-color: $black;
	}
	.THINK {
		background: $blue;
	}
	.PEOPLE {
		background: $light-blue;
	}
	.FINANCE {
		background: $green;
	}
}

.cat-btn {
	padding: 5px;
}


/**  Collection Header ***/

.video-collection-header {
	@include flexbox;
	justify-content: space-between;
	height: 25px;
	margin-bottom: 15px;
}

.collections-left, .pages {
	@include flexbox;
	align-items: center;
}

.pages {
	cursor: pointer;
	a {
		@include flexbox;
		align-items: center;
	}
}

.pages.bottom {
	margin: 0px auto;
	padding: 25px;
	width: 312px;
}

.page-back {
	width: 10px;
	height: 20px;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
	margin-left: 10px;
}

.page-next {
	height: 20px;
	width: 10px;
	margin-right: 10px;
}

.page-next-info {
	display: inline-block;
	vertical-align: middle;
	color: #246db4;
}

.text-faded {
	opacity: 0.3;
}

.page-down {
	height: 13px;
	width: 7.5px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
    margin-left: 10px;

}

.page-display {
	border-radius: 50px;
	line-height: 25px;
	height: 25px;
	margin: 0 15px;
	border: 1px solid $blue;
	padding: 0px 10px;
	color: $blue;
	width: 65px;
	@include flexbox;
	justify-content: space-between;
	align-items: center;
}

.current-page {
  width: 30px;
  text-align: center;
}



/********** VIDEOS *************/

#qw-content {
	margin-top: 40px;
}

.videos-container {
  background: white;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 50px;
  -webkit-overflow-scrolling: touch;
}

.regular-videos {
	@include flexbox;
	flex-wrap: wrap;
	justify-content: flex-start
}

.featured-videos {
	@include flexbox;
	margin-bottom: 40px;
}

.video-item-container {
	width: 240px;
	margin-right: 10px;
	margin-bottom: 25px;
}

.featured-playlist-main .video-item-container {
	margin-bottom: 0px;
}

.video-img {
	height: 135px;
	width: 240px;
	position: relative;
}

/******* Video QWatch ********/

.qwatch-title {
	color: $light-blue;
	font-weight: 600;
	line-height: 1;
	font-size: 15px;
	white-space: normal;
}

.section-title {
	color: $black;
	margin-top: 40px;
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 25px;
}

.video-collection-header .section-title {
	margin-top: 0px;
}

.collections-left .section-title {
	margin-bottom: 0px;
}

.fav-star {
  height: 14px;
  width: 12px;
  vertical-align: initial;
  margin-left: 5px;
  padding-bottom: 2px;
}

.section-time {
	color: white;
	background-color:rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
	font-weight: 600;
}
