@import 'shared/variables';
@import 'shared/mixins';

.video-player, .video-player iframe {
	height: 56vw;
}

h4 {
  display: inline-block;
}

.video-length {
  margin-top: 7px;
  display: none;
}
.featured-tabs {
	button {
	  width: 49.3%;
	  padding: 10px 7px;
	  border: none;
	  background: none;
	  text-transform: uppercase;
	  display: inline-block;
	  vertical-align: top;
	  cursor: pointer;
	  outline: none;
	}
	.featured-courses {
		display: none;
	}
}
iframe {
	width: 100%;
}

.video-title {
	font-size: 14px;
	margin-top: 0px;
}

.video-current > p {
  color: #c0c0c0;
}

.featured-series.tabs-selected {
	background: $cyan;
	h3 {
		color: white;
	}
}

.featured-related.tabs-selected {
	background: $blue;
	h3 {
		color: white;
	}
}

.email-optin {
	display: none;
}


@media (min-width: 1024px) {
	body {
		.video-info-container {
			@include flexbox;
		}
		.email-optin {
				width: 304px;
				display: block;
				padding: 20px 25px;
				font-size: 16px;
				color: $teal;
				background: $teal;
				margin-top: 20px;
				margin-bottom: 50px;
				color: white;
				p {
					margin-bottom: 10px;
				}
				.bold {
					font-weight: 700;
				}
				input {
					height: 30px;
					border-radius: 5px;
					color: $teal;
					border: 1px solid $teal;
					font-size: 14px;
					margin-top: 10px;
					width: 100%;
					padding: 0px 10px;
				}
				input::-webkit-input-placeholder {
					color: $teal;
				}
				input.submit-email {
					background: $teal;
					color: white;
					width: 120px;
					border: 2px solid white;
					cursor: pointer;
					width: 66px;
					transition-duration: 0.3s;
					font-weight: 600;
					margin: 0 auto;
					margin-top: 20px;
					display: block;
				}

				input.submit-email:hover {
					background: white;
					color: $teal;
				}
			}
		.content.video-content {
			width: 640px;
			border: none;
			height: auto;
			padding: 0px;
			padding-right: 20px;
		}
		.video-page, .livestream-page {
			.video-player, .video-player iframe {
				width: 640px;
				height: 360px;
			}
			.video-length {
				display: none;
			}
			#ytplayer {
				width: 640px;
				height: 360px;
			}
			.featured-tabs {
				order: initial;
			}
			.featured-related-content.hide-section {
				@include flexbox;
				flex-wrap: wrap;

			}
			.featured-series {
				display: none;
			}
			.featured-related {
				padding-left: 0px;
				& > * {
					font-weight: 700;
				}
			}
			.featured-series-content {
				display: none;
			}
			.content-title {
				font-size: 24px;
				margin-bottom: 8px;
			}
			.content-subtitle {
				font-size: 14px;
				margin: 0px;
			}
			.content-text {
				.content-subtitle {
					margin-bottom: 20px;
				}
				.content-title {
					font-size: 14px;
					margin-bottom: 10px;
				}
			}
			.video-container {
				@include flexbox;
				width: 960px;
			}
			.video-side-bar {
				width: 304px;
				height: 360px;
				background: #343434;
				overflow: hidden;
			}
			.video-series-info {
				background: black;
				padding: 20px 25px;

			}
			.video-series-list {
				height: 244px;
				background: #343434;
				overflow-y: scroll;
				padding: 20px 25px;
				a:first-child {
					.video {
						padding-top: 0px;
					}
				}
				.video-title {
					color: $gray;
				}
				.video {
					@include flexbox;
					.video-number {
						width: 20px;
						margin-left: 5px;
						color: $gray;
					}
					.video-subtitle {
						width: 40px;
					}
					.video-title {
						width: calc(100% - 65px);
						padding-right: 10px;
					}
				}
			}

			.series-title {
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 10px;
				color: white;
				height: auto;
			}
			.series-info-row {
				color: $gray;
				@include flexbox;
				@include justify-content(space-between);
				margin-top: 5px;
				@include align-items(center);
			}
			.series-info-row-top > p {
				font-weight: 700;
			}
			.series-category {
				@include flexbox;

				span:hover {
					font-weight: 600;
				}
				img {
					margin-left: 5px;
				}
			}
			.video-current {
				.video-title, .video-length {color: #c0c0c0;}
			}
		}
		.video-page > .content:nth-child(3n - 1), .content {
			width: 640px;
			padding: 0px;
			border: none;
			margin: 0px 0px 50px 0px;
			height: auto;
		}
		.video-page .content-title {
			
			margin-top: 20px;
		}
		.video-page .content-list .content-title {
			
			margin-top: 0px;
		}
		.video-page {
			.featured-tabs {
				height: auto;
				@include flexbox;
				@include justify-content(space-between);
			}
			.featured-courses {
				padding: 0px;
				display: block;
				width: 296px;
				text-align: left;
				h3 {
					font-weight: 700;
				}
			}
			.vid-cat-container {
				position: relative;
			}
			.vid-cat-container:hover {
				.vid-cat {
					display: block;
				}
			}
			.vid-cat-icon {
				width: 18px;
				height: 18px;
			}
			.vid-cat {
				position: absolute;
				background: white;
				text-align: center;
				padding: 0px 5px;
				height: 25px;
				line-height: 25px;
				bottom: -30px;
				border-radius: 5px;
				display: none;
				right: -42.5px;
				width: 100px;
				font-weight: 700;
			}
			.tail {
		        width: 0px;
				  height: 0px;
				  border: 4px solid;
				  border-color: transparent transparent white transparent;
				  position: absolute;
				  top: -8px;
				  left: 46px;
			}
		}
	}
}
