// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***** Modals *****/

@import 'shared/variables';

.video-modal {
  width: 720px;
  margin: 10vh auto 0 auto;
  text-align: center;
  padding: 40px;
  color: $dark-gray;
}
