@import 'global/variables';
@import 'global/mixins';

//// Video Player ///////

.lightbox {
  width: 100vw;
  height: 38.75vw;
  position: relative;
  background: black;
}

.videobox {
  height: calc(38.75vw - 60px - 30px);
  width: calc(1440px - 120px);
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  @include flexbox;
  //border: 1px solid red;
}

.videoplayer {
  height: 100%;
  width: calc(((38.75vw - 60px - 30px) / 9) * 16);
  display: inline-block;
  vertical-align: top;
  iframe {
  	height: 100%;
  	width: 100%;
  }
}

.series-playlist-info {
  height: 100%;
  width: calc((1440px - 120px) - (((38.75vw - 60px - 30px) / 9) * 16));
  background: #1A1A1A;
  vertical-align: top;

}

.series-playlist-info-hide, .series-playlist-info-open {
	display: none;
}

@media (min-width: 1441px){
  .videobox {
    width: calc(100vw - 120px);
  }
  
  .series-playlist-info {
    width: calc((100vw - 120px) - (((38.75vw - 60px - 30px) / 9) * 16));
  }
}

@media (max-width: 1440px) and (min-width: 1380px){
  .lightbox {
    height: 498px;
  }
  
  .videobox {
    height: 468px;
  }
  
  .videoplayer {
    width: 832px;
  }
  
  .series-playlist-info {
    width: calc((1440px - 120px) - 832px);
  }
}

@media (max-width: 1379px){  
  .lightbox {
    height: calc(40.43vw - 60px);
  }
  
  .videobox {
    width: calc(100vw - 60px);
    height: calc(40.43vw - 60px - 30px);
    left: 30px;
    transform: initial;
  }
  
  .videoplayer {
    width: calc(((40.43vw - 60px - 30px) / 9) * 16)
  }
  
  .series-playlist-info {
    width: calc((100vw - 60px) - (((40.43vw - 60px - 30px) / 9) * 16));
  }
  .video-info .video-info-main {
  	width: calc(((40.43vw - 60px - 30px) / 9) * 16 + 30px);
  }
}



@media (max-width: 1023px){
  .header {
    height: 50px;
  }

  .videobox {
    width: 640px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
  
  .series-playlist-info {
    display: none;
  }
  .series-playlist-info-hide.flex {
    display: flex;
  }
}




.video-player-container {
	height: 36vw;
	width: 100%;
	background: black;
	padding: 12px calc((100vw - 1320px) / 2 );
	@include flexbox;
	.video-player {
		height: 100%;
		width: calc((36vw - 24px) * 16 / 9);
	}
	iframe {
		height: 100%;
		width: 100%;
	}
	svg * {
		fill: #5f5f5f;
	}
}

.series-playlist-info {
	background: $darker-gray;
	padding: 18px 24px;
	.series-count {
		color: $dark-gray;
		font-size: 20px;
		font-weight: 600;
	}
	.series-list {
		margin-top: 18px;
		.video-list-item {
			height: 18px;
			margin-bottom: 18px;
			@include flexbox;
			p {
				color: $dark-gray;
				font-weight: 400;
				font-size: 14px;
			}
			p.video-number {
				width: 12px;
			}
			p.video-title {
				width: calc(100% - 70px);
				margin-left: 10px;
			}
			p.video-length {
				width: 38px;
				margin-left: 10px;
				text-align: right;
			}
		}
		.video-list-item:hover {
			p {
				color: $highlight-gray;
				font-weight: 600;
			}
		}
		.video-list-item.active {
			p {
				color: $highlight-gray;
				
			}
		}
	}
}

///// Video Info ///////

.video-info {
	background: white;
	@include flexbox;
	.video-info-main {
		width: calc(832px + ((100vw - 1320px) / 2));
		border-right: 1px solid $border-gray;
		padding: 36px 60px;
		padding-left: calc((100vw - 1320px) / 2);
		.video-title {
			font-size: 36px;
			letter-spacing: 2.5px;
			color: $darkest-gray;
			font-weight: 700;
		}
		.video-actions {
			display: none;
		}
		.video-speaker-info {
			font-size: 20px;
			color: $gray;
			margin-top: 6px;
			letter-spacing: 1px;
		}
		.video-about {
			margin-top: 26px;
			h3 {
				font-weight: 600;
				color: $dark-gray;
				font-size: 20px;
			}
			p {
				margin-top: 6px;
				font-size: 20px;
				color: $gray;
				font-weight: 300;
				line-height: 1.2;
			}
		}
	}
	.video-info-side, .video-actions {
		padding: 36px 26px;
		@include flexbox;
		.video-info-item {
			margin-right: 6px;
			border-radius: 50px;
			text-align: right;
			padding-right: 7px;
			padding-left: 20px;
			height: 22px;
			line-height: 22px;
		}
	}
}


.media-container.single-row {
	padding-bottom: 0px;
	a {
		margin-bottom: 26px;
	}
	.media-thumbnail.show-description:hover {
		margin-bottom: 0px;
	}
}


@media (max-width: 1379px) {
	.video-player-container {
		padding: 12px 30px;
	}
	.video-info {
		.video-info-main {
			padding-left: 30px; 
			width: calc(((40.43vw - 60px - 30px) / 9) * 16 + 30px);
		}
	}
}

@media (max-width: 1112.9px){
  .lightbox {
    height: 390px;
  }
  
  .videobox {
    height: 360px;
  }
  
  .videoplayer {
    width: 640px;
  }
  .video-info .video-info-main {
  	width: 670px;
  }
  
  .series-playlist-info {
    width: calc((100vw - 60px) - 640px);
  }
}

@media (max-width: 1023px) {

	////// Video Container ///////
		.series-playlist-info {
			display: none;
			position: absolute;
			right: -1px;
			top: 0;
			opacity: 0.97;
			width: 320px;
		}
		.series-playlist-info-open {
			@include flexbox;
			@include flexbox;
			@include align-items(center);
			padding: 0px 10px;
			position: absolute;
			right: 0px;
			top: 0;
			width: 120px;
			height: 30px;
			background: $darker-gray;
			line-height: 30px;
			color: $dark-gray;
			cursor: pointer;
			svg {
				height: 10px;
				width: 10px;
				margin-right: 10px;
				transform: rotate(90deg);
			}
			p {
				font-weight: 600;
			}
		}
		.series-playlist-info-hide {
			position: absolute;
			right: 319px;
			top: 0;
			height: 360px;
			width: 30px;
			background: $darker-gray;
			cursor: pointer;
			opacity: 0.97;
			@include flexbox;
			@include align-items(center);
  		@include justify-content(center);
  		svg {
  			height: 18px;
  			width: 16px;
  		}
  		display: none;
		}

	////// Video Info //////

	.video-info {
		@include flex-direction(column);
		padding: 26px 20px;
		.video-info-main {
			width: 100%;
			border-right: none;
			padding: 0px;
			.video-actions {
				@include flexbox;
				padding: 0px;
				margin-top: 26px;
				padding-bottom: 26px;
				border-bottom: 1px solid $border-gray;
			}
			.video-speaker-info {
				font-size: 16px;
			}
			.video-about p {
				font-size: 16px;
			}
			.video-title {
				font-size: 24px;
			}
		}

		.video-info-side {
			display: none;
		}
	}
	.media-container.single-row .media-thumbnails {
		@include flex-wrap(wrap);
		a {margin-bottom: 0px}
		.media-thumbnail {
			margin-bottom: 26px;
		}
	}
}

@media (max-width: 679px){
  .lightbox {
    height: auto;
  }
  
  .videobox {
    width: 100vw;
    height: auto;
    position: static;
    @include flex-direction(column);
    transform: initial;
  }
  
  .videoplayer {
  	position: static;
    width: 100vw;
    height: calc((100vw / 16) * 9);
  }
}


@media (max-width: 640px) {
		.videobox {
			background: $darker-gray;
		}

		.series-playlist-info-open {
			position: static;
			width: 100%;
			height: 50px;
			line-height: 50px; 
			@include flexbox;
			@include justify-content(center);
			svg {
				transform: rotate(360deg);
			}
			p {
				font-size: 18px;
			}
			overflow: scroll;
		}
		.series-playlist-info-open.shadow {
			box-shadow: 0px 5px 10px black;
		}
		.series-playlist-info-hide {
			height: 10px;
		}
		.series-playlist-info {
			position: static;
			width: 100%;
			height: auto;
			background: none;
			padding-bottom: 0px;
		}
		.series-playlist-info.mobile-show {
			display: block;
			.series-list {
				margin-top: 0px;
			}
			.series-count {
				display: none;
			}
		}
	.video-actions {
		.teal-item.action-icon, .red-item.action-icon, .blue-item.action-icon {
			display: block;
		}
	}

	.video-actions .action-icon {
		display: block;
		p {
			line-height: 24px;
		}
	}
	.video-actions .action-icon.expanded:hover {
		svg {
			top: 0;
		}
	}
	.media-container.single-row .media-thumbnails {
    @include justify-content(space-between);
		.media-thumbnail {
			margin-bottom: 20px;
		}
		a:odd .media-thumbnail {
			margin-left: 2px;
		}
	}
}

