@import 'shared/variables';

::-webkit-scrollbar {
    display: none;
}
/******* LAYOUT *********/

#content-container {
	overflow-y: scroll;
	background: white;
	height: 100vh;
	overflow-x: hidden;
	 -webkit-overflow-scrolling: touch;
}

.landing-container {
	background: white;
	color: black;
}

.landing-top {
	margin-top: 50px;
	.landing-section {
		height: 260px;
	}
}

.section-content {
	height: 100%;
	width: calc(100% - 20vw);
	margin: 0 auto;
}

.landing-bottom {
	height: calc(100%);
	.landing-section {
		height: calc(100% - 160px);
	}
	#landing-footer {
		height: 160px;
	}
}

.gray-border-bottom {
	border-bottom: 2px solid $light-gray;
}

/******* LANDING HEADER ********/

#landing-header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: $landing-blue;
	text-align: center;
	z-index: 3;
}
#landing-header > * {
	position: absolute;
	top: 0;
	height: 100%;
}
.header-item {
	height: 100%;
	line-height: 50px;
	cursor: pointer;
	font-size: 16px;
	display: inline;
	color: rgba(255,255,255,.5);
}

.logo {
	height: 40px;
	margin-top: 5px;
}
.sign-up-btn {
	padding: 5px;
}
.header-item.green-btn {
	color: white;
}
.header-mid {
	width: 320px;
	left: calc(50% - 160px);
}
.header-right {
	right: 40px;
}
.header-left {
	left: 40px;
}

/*************** TAGLINE ***************/
#tagline-section {
	background: $landing-gray;
}

#tagline {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	color: black;
	width: 100%;
	position: absolute;
	top: calc(130px - 20px);
}

/****************  VIDEOS/SERIES *********************/

$section-height: calc(33vh -  16.66px);

.series-header {
	height: 30px;
	margin: 15px 0px;
	div {
		line-height: 30px;
	}
}
.series-footer {
	height: 30px;
	div {line-height: 30px;}
}
.series-title {
	font-size: 24px;
}

.series-price {
	width: 130px;
}

.series-content {
	height: calc(260px - 80px);
	white-space: nowrap;
	overflow-x: scroll;
}

.section-content {
	position: relative;
	.white-gradient {
		position: absolute;
		right: -1px;
		top: 45px;
		height: 170px;
		width: 200px;
		z-index: 2;
		cursor: pointer;
	}
}

.series-content .scroll-arrow {
	position: absolute;
	right: 40px;
	top: 90px;
	height: 40px;
	width: 15px;
	z-index: 2;
}


.series-content > * {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.series-speaker {
	width: 100px;
	margin: 0px 10px 0px 20px;
	height: 140px;
}

.series-video {
	width: 240px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	.video-thumbnail {
		height: 140px;
		width: 100%;
		cursor: pointer;
	}
	.video-title {
		height: 20px;
		margin-top: 10px;
		color: $landing-blue;
		font-weight: 600;
	}
	.video-length {
		width: 40px;
		height: 20px;
		color: white;
		border-radius: 5px;
		text-align: center;
		position: absolute;
		right: 10px;
		top: 110px;
		background: rgba(0,0,0,.8);
		cursor: default
	}
	.video-play {
		position: absolute;
		height: 75px;
		width: 75px;
		left: calc(50% - 37.5px);
		top: calc(70px - 37.5px);
		cursor: pointer;
		display: none;
	}
}

.series-video:hover .video-play {
	display: block;
}

.challenge-btn {
	width: 30px;
	height: 30px;
	border: 3px solid red;
	border-radius: 7px;
	cursor: pointer;
}

/********** How it Works ************/

.info-section {
	background: image_url('explainer-photo.jpg');
	color: white;
	padding-top: 50px;
	position: relative;
	.blue-overlay {
		background: $landing-blue;
		opacity: 0.85;
		position: absolute;
		top:0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.info-items {
	margin-top: 40px;
}

.info-item {
	width: 32%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	div {
		margin: 10px auto;
		width: calc(100% - 40px);
	}
}

.info-title {
	font-weight: 600;
	font-size: 32px;
}

.info-desc {
	font-size: 20px;
}

#sign-up {
	height: 50px;
	width: 140px;
	margin: 30px auto;
	text-align: center;
	line-height: 50px;
	font-size: 32px;
}

.info-img {
	width: auto;
	height: 150px;
}

/******* FOOTER *******/

.footer-item {
	width: 100px;
	display: inline-block;
	margin-right: 60px;
	vertical-align: top;
	div {
		margin: 10px 0px;
	}
}

.footer-item-title {
	font-size: 20px;
}

.footer-item-link {
	cursor: pointer;
}

.footer-notes {
	margin-top: 20px;
	font-size: 14px;
	color: $light-gray;
}

@media(max-width: 768px) {

body {
/********* LAYOUT ********/
	.landing-bottom {
		height: auto;
	}
/******* HEADER ******/
/********* TAGLINE ********/

	#tagline-section {
		height: 200px;
	}
	#tagline {
		top: 60px;
	}
/********** VIDEOS *************/
	.series-title {
		font-size: 16px;
		white-space: nowrap;
	}
	.series-price {
		position: absolute;
		bottom: 10px;
	}
/************  HOW IT WORKS ****************/
	#info-section {
		background: #246db4;
		background-image: none;
	}
	.info-item {
		display: block;
		width: 100%;
	}
}
}



/******* LANDING Second HEADER ********/

#landing-header2 {
	position: relative;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: $bg-grey;
	text-align: center;
	z-index: 3;
}
#landing-header2 > * {
	position: absolute;
	top: 0;
	height: 100%;
}
.header2-item {
	height: 100%;
	line-height: 50px;
	cursor: pointer;
	font-size: 16px;
	display: inline;
	color: rgba(255,255,255,.5);
}

.cat-btn {
	padding: 5px;
}


.header2-mid {
  left: calc(50% - 400px);
  width: 800px;
}
.header2-right {
	right: 10px;
}
.header2-left {
	left: 10px;
}

.FREE {
	color: white;
	background-color: $landing-red;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid $landing-red;
}


.MARKETING {
	color: white;
	background-color: $landing-yellow;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid $landing-yellow;
}

.SURVIVAL {
	color: white;
	background-color: $landing-orange;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid $landing-orange;
}

.OPERATIONS {
	color: white;
	background-color: $landing-green;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid $landing-green;
}

