@import 'shared/variables';
@import 'shared/mixins';

#welcome-container {
	position: fixed;
	height: calc(100vh - 50px);
	width: 100%;
	background-image: image-url('setup-background.jpg');
	background-size: cover;
	top: 50px;
	z-index: 5;
	text-align: center;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.section-content.welcome-content {
	width: 960px;
	.info-img {
		height: 100px;
	}
	.info-items {
		padding-top: 35px;
	}
	#sign-up {
		margin: 40px auto 40px auto;
	}
	.info-title {
		font-size: 20px;
		font-weight: 600;
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.info-desc {
		font-size: 15px;
		width: 225px;
		margin-left: auto;
		margin-right: auto;
	}
}

.welcome-text {
	color: rgba(255,255,255,0.4);
	margin-top: 40px;
	font-size: 24px;
	font-weight: 500;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.welcome-text.welcome-text-header {
	font-weight: 600;
}

.welcome-header {
	margin: 20px 0 50px 0px;
	color: white;
	font-size: 40px;
	font-weight: 600;
}

.welcome-text.explainer {
	margin-top: 55px;
	font-size: 25px;
	font-weight: 500;
}

.welcome-name {
	color: white;
}

#lets-go {
	font-weight: 600;
  line-height: 30px;
  width: 100px;
  margin-top: 40px;
  font-size: 18px;
  cursor: pointer;
}

/*****/