<!DOCTYPE html PUBLIC "-//W3//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title></title>
        <style></style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td>&nbsp;</td>
                <td valign="top" width="600">
                    <table border="0" cellpadding="20" cellspacing="0" style="table-layout: fixed; max-width:600px; border:1px solid #246db4; border-radius:10px; font-family:proxima nova, helvetica neue, helvetica;" id="emailContainer">
                        <tr>
                            <td align="center" valign="top">
                                <a href="http://www.drapertv.com"><img src="http://s25.postimg.org/j3nmvp1pb/email_logo.png" style="max-width:219px; max-height:35px;" alt="[DraperTV]"></a>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:16px;">
                                <div style="font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:1; margin:0 0 0 0;">Hey DU Alumni!</div>
                                <div style="line-height:1; margin:0 0 0 0;">&nbsp;</div>
                                <div align="left" style="text-align:left; line-height:1.1; font-family:proxima nova, helvetica neue, helvetica; font-size:16px; margin:0 0 0 0;">Draper University has been working hard to create something specifically for you, our alumni.</div>
                                <div style="line-height:1; margin:0 0 0 0;">&nbsp;</div>
                                <div align="left" style="text-align:left; line-height:1.1; font-family:proxima nova, helvetica neue, helvetica; font-size:16px; margin:0 0 0 0;">We're launching DraperTV [beta] for you to watch all the past DU speakers anywhere, anytime, for free!</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" bgcolor="#246db4" style="font-family:proxima nova, helvetica neue, helvetica; font-size:16px;">
                                <div style="font-family:proxima nova, helvetica neue, helvetica; font-size:16px; color:white; line-height:1; margin:0 0 0 0;">Click on your personal link below to activate your invite:</div>
                                <div style="line-height:1; margin:0 0 0 0;">&nbsp;</div>
                               <%= link_to accept_invitation_url(@resource, :invitation_token => @token),accept_invitation_url(@resource, :invitation_token => @token) %>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:16px;">
                                <div align="left" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:1; margin:0 0 0 0;"><a href="http://www.drapertv.com" style="color:#35b3de;"><span style="color:#35b3de;">DraperTV</span></a> is our online hub for everything entrepreneurship.</div>
                                <div style="line-height:1; margin:0 0 0 0;">&nbsp;</div>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="bulletPoint">
                                    <tr>
                                        <td width="10px"></td>
                                        <td align="left" valign="middle">
                                            <img src="http://s25.postimg.org/gc8yitskb/play_icon.png" style="width:40px; height:40px;" alt="~">
                                        </td>
                                        <td width="10px"></td>
                                        <td align="left" valign="middle" style="font-family:proxima nova, helvetica neue, helvetica; line-height:1.1; font-size:14px;">
                                            <div align="left" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:14px;">Watch videos of speakers from all previous DU classes, and five new speakers monthly.</div>
                                        </td>
                                    </tr>
                                    <tr height="15px"></tr>
                                    <tr>
                                        <td width="10px"></td>
                                        <td align="left" valign="middle">
                                            <img src="http://s25.postimg.org/d3zvs1gwr/tool_icon.png" style="width:40px; height:40px;" alt="~">
                                        </td>
                                        <td width="10px"></td>
                                        <td align="left" valign="middle" style="font-family:proxima nova, helvetica neue, helvetica; line-height:1.1; font-size:14px;">
                                            <div align="left" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:14px;">DraperTV is built for you. Let us know what you want, and we'll get to it!</div>
                                        </td>
                                    </tr>
                                    <tr height="15px"></tr>
                                    <tr>
                                        <td width="10px"></td>
                                        <td align="left" valign="middle">
                                            <img src="http://s25.postimg.org/pg2s5j4rf/beaker_icon.png" style="width:40px; height:40px;" alt="~">
                                        </td>
                                        <td width="10px"></td>
                                        <td align="left" valign="middle" style="font-family:proxima nova, helvetica neue, helvetica; line-height:1.1; font-size:14px;">
                                            <div align="left" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:14px;">Lots of exciting new features coming soon...</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:16px;">
                                <div align="left" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:1.1;">If you have any questions or feedback, shoot us an email at <a href="mailto:support@drapertv.com" style="color:#35b3de;">support@drapertv.com</a></div><br>
                                <div style="font-family:proxima nova, helvetica neue, helvetica; font-size:16px; font-weight:600;">Ready, set, startup!</div>
                                <div style="line-height:1; margin:0 0 0 0;">&nbsp;</div>
                                <div align="left" style="text-align:left; font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:1.1;">Team DraperTV<br><small style="font-family:proxima nova, helvetica neue, helvetica;">with <img src="http://s25.postimage.org/g0ri62c4b/heart_icon.png" valign="middle" style="width:12px; height:11px;" alt="&lt;3"> from your fellow alumni: Andy, Hubert, Lorenzo, Yad</small></div>
                                <div style="line-height:1; margin:0 0 0 0;">&nbsp;</div>
                                <small style="font-family:proxima nova, helvetica neue, helvetica;">DraperTV is a product of <a href="http://draperuniversity.com" style="color:#35b3de;">Draper University</a></small>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </body>
</html>

