<p style="font-size:12px;">Yad is inviting you for early access to DraperTV!</p>

<div style="font-size:10px;">
	Click on your personal link below to activate your invite:
	<br>
	<%= link_to accept_invitation_url(@resource, :invitation_token => @token),accept_invitation_url(@resource, :invitation_token => @token) %>
<br>

<br>
	<a href="http://drapertv.herokuapp.com/">DraperTV</a> is your hub for everything entrepreneurship.
	​<ul>
		<li>Watch videos from top Silicon Valley thinkers and doers like Elon Musk, Tony Hsieh, and Heidi Roizen.</li>
		<li>Learn about startups, venture capital, and founding your own company.</li>
		<li>Take challenges to test your entrepreneurial skill and practice building your startup from zero to hero.</li>
	</ul>

	If you have any questions, you can reach us at <a href="#">support@drapertv.com</a><br><br>


	Change the world!<br>

	Team DraperTV<br>

</div>

<div style="font-size:8px; color:gray;">
	DraperTV is a product of <a href="http://draperuniversity.com/">Draper University</a><br><br>
	P.S. If you don’t want this invitation, pass it on to a friend by forwarding this email.
</div>