<% series = @featured.first %>
<div class="featured-item">
  <%=  image_tag series.first_video.vthumbnail_url, :class => "featured_video "%>
  <div class="featured-info">
    <div class="featured-text">
      <h3><%= series.name %></h3>
      <h1><%= series.title %></h1>
    </div>
  </div>
  <div class="featured-gradient">
  </div>
</div>
