<div class="featured-item header-banner">
  <div class="featured-gradient">
  </div>
  <div class="banner-content">
    <h3 class="banner-title"><%= image_tag "speaker-white.png", :class => "speaker-icon" %> SPEAKER SERIES</h3>
    <p class="banner-desc">Watch talks given at Draper University by top Silicon Valley startup founders and executives. Each lecture is curated into a series of short videos highlighting important topics our speakers present.</p>
  </div>
</div>
<div class="sort-bar">
  <div class="action-icon expanded teal-item show-notify-modal">
    <%= image_tag "notify-white.png", :class => "notify-icon" %> 
    <p>Notify Me</p>
  </div>
  <div class="sort-options">
    <div>Sorted By:</div>
    <div class="order-sort sorter">
      <p>Newest</p >
      <%= image_tag "dropdown-triangle.svg", :class => 'open-dropdown' %>
      <ul class="sort-dropdown">
        <li class="current" data-sort-criteria="date" data-sort-direction="asc">Newest</li>
        <li data-sort-criteria="date" data-sort-direction='desc'>Oldest</li>
        <li data-sort-criteria="speaker" data-sort-direction='asc'>Speaker A-Z</li>
        <li data-sort-criteria="speaker" data-sort-direction='desc'>Speaker Z-A</li>
        <li data-sort-criteria="views" data-sort-direction='desc'>Most Viewed</li>
      </ul>
    </div>
    <div class="industry-sort sorter">
      <p>All Industries</p>
      <%= image_tag "dropdown-triangle.svg", :class => 'open-dropdown' %>
      <ul class="sort-dropdown">
        <li class="current">All Industries</li>
        <li>Industry 1</li>
        <li>Industry 2</li>
        <li>Industry 3</li>
        <li>Industry 4</li>
        <li>Industry 5</li>
        <li>Industry 6</li>
        <li>Industry 7</li>
        <li>Industry 8</li>
        <li>Industry 9</li>
        <li>Industry 10</li>
      </ul>
    </div>
  </div>
</div>

<section class="media-container index-view">
  <div class="media-list">
    <div class="media-thumbnails wrap lazy-load sortable">
          <!-- Content loaded in with ajax  -->
    </div>
    <div id="load-more" offset="0">
      Show More
    </div>
  </div>
</section>
