<div class="featured-item header-banner">
  <% series = Series.first %>
  <div class="featured-gradient">
  </div>
  <div class="banner-content">
    <h3 class="banner-title"><%= image_tag "speaker-white.png", :class => "speaker-icon" %> SPEAKER SERIES</h3>
    <p class="banner-desc">Watch talks given at Draper University by top Silicon Valley startup founders and executives. Each lecture is curated into a series of short videos highlighting important topics our speakers present.</p>
  </div>
</div>
<div class="sort-bar">
  <div class="notify-button show-notify-modal">
    <%= image_tag "notify-white.png", :class => "notify-icon" %> 
    <p>Notify Me</p>
  </div>
  <div class="sort-options">
    <div>Sorted By:</div>
    <div class="date-sort">Newest</div>
    <div class="industry-sort">All Industries</div>
  </div>
</div>

<section class="media-container index-view">
  <div class="media-list">
    <div class="media-thumbnails wrap">
      
    </div>
    <div id="load-more" offset="0">
      See More
    </div>
  </div>
</section>
