<% if !session[:hide_application_link] %>
  <%= link_to "https://www.f6s.com/draperuniversity-residentialprogram/apply", :class => "livestream-banner" do %>
    <div class="notification apply-notification">
       <p>Now accepting applications for Draper University Winter 2016!</p> 
       <p class="apply-now">
         APPLY HERE
       </p>
    </div>
    <%= image_tag "close.svg", :class => "close-banner close-application-link svg" %>
  <% end %>
<% end %>
