<aside id="sidebar" class="aside bg-light dk">
  <section class="vbox animated fadeInUp">
    <section class="scrollable hover">
      <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
        <a class="list-group-item" href="#">
          <%= link_to "All", videos_path, class: "list-group-item" %>
        </a>
        <% @tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.name), class: "list-group-item" %>
        <% end %>
      </div>
    </section>
  </section>
</aside>
