<div id="login-modal">
	<%= form_for(User.new, :as => resource_name, :url => session_path(resource_name), :html => { id: "login-form"}) do |f| %>
        <%= f.email_field :email, :autofocus => true, class: 'login-field login-email', placeholder: "Email" %>
        <%= f.password_field :password, class: 'login-field login-password', placeholder: "Password" %>
        <button type="submit" class="login-btn">Log In</button>
        <%- if devise_mapping.recoverable? %>
          <div id="forgot-password">
            <%= link_to(new_password_path(resource_name)) do %>
                <p>Forgot password?</p>
            <% end %>
          </div>
        <% end %>
	<% end %>
</div>